<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}



<html>

{% block content %}
<section class="success" id="editardebate" style="display:none">
    <div class="container">
    <form method="POST" class="post-form">{% csrf_token %}
    <form action="/post_new" id="publicar_form" method="post">{% csrf_token %}
        <div class="blank"><table>
            <tr>
                <td width=70% vertical-align: top>
                    <!-- <h4><strong>Publicar Debate</strong></h4> -->
                    <br>
                    <div class="form-group">
                        <h4>Título</h4>
                        <input name="titulo" id="tituloeditar" value="" type="text" class="form-control" placeholder="Título">
                        <br>
                        <input name="id_debate_editar" id="iddbteditar" value="" type="hidden" class="form-control">
                        <h4>Descripción</h4>
                        <textarea name="descripcion" id="desceditar" value="" rows="8" type="text" class="form-control" placeholder="Descripción"></textarea>
                    </div>
                    <button type="submit" class="btn btn-publicar">Editar</button>
                    <a onclick="cierra_formulario('#editardebate')" class="btn btn-cancelar" > Cancelar</a>

                </td>
                <td width=10% ></td>
                <td>
                    <!-- <h4><strong>Reglas del Debate</strong></h4> -->
                    <br>
                    <div class="input-group">
                        <h5>Fecha Fin</h5>
                        <h5><div> <span class="glyphicon glyphicon-calendar"></span> <input class="datepicker" id="fechaeditar" type="text" name="date"> </div></h5>
                        <br>
                        <h5>Largo máximo de los argumentos</h5>
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="largo_m" id="radio1e" value="300" checked/>
                                    <label for="radio1e">300 carácteres</label>
                                </div>
                                <div class="funkyradio-success">
                                    <input type="radio" name="largo_m" id="radio2e" value="200" />
                                    <label for="radio2e">200 carácteres</label>
                                </div>
                                <div class="funkyradio-success">
                                    <input type="radio" name="largo_m" id="radio3e" value="140" />
                                    <label for="radio3e">140 carácteres</label>
                                </div>
                            </div>
                        <br>
                        <h5>Publicar el debate como</h5>
                            <div class="funkyradio">
                                <div class="funkyradio-success">
                                    <input type="radio" name="alias" id="radio4e" value="username" checked/>
                                    <label for="radio4e">Usuario: {{usuario.username}}</label>
                                </div>
                                <div class="funkyradio-success">
                                    <input type="radio" name="alias" id="radio5e" value="alias" />
                                    <label for="radio5e">Alias: {{alias.alias}}</label>
                                </div>
                            </div>
                        <br>

                    </div>
                </td>
            </tr>
        </table></div>
      </form></form>
    </div>
</section>

<div class="container">
    <div class="col-md-4">

        <h3>{{ usuario.first_name }} {{ usuario.last_name }} </h3>
        <div class="container-perfil">
        <br>

        <p1>Usuario: </p1>{{ usuario.username}}
        <br>
        <br>
        <p1>Email: </p1>{{ usuario.email }}
        <br>
        <br>
        <p1>Reputación: </p1>{{alias.reputacion}}
        <br>
        <br>
        <p1>Fecha de ingreso : </p1>{{ usuario.date_joined }}
        <br>
        <br>
        <div id="alias">
            <p1>Alias : </p1>{{alias.alias}}
            <button id = 'boton_alias' class="btn btn-perfil" onclick='javascript:cambiar_alias();'> Cambiar Alias <span class="glyphicon glyphicon-user" aria-hidden="true" ></span> </button>
        </div>

         </div>
        <br>
        <div id='formulario_alias' style="display: none;" >

                <form method="POST" class="post-form">{% csrf_token %}
                    <form action="{% url 'perfil' %}" id="publicar_alias" method="post">{% csrf_token %}
                        <div class="form-group">
                             <input name="nuevo_alias" value="" type="text" class="form-control" placeholder="{{alias.alias}}">

                        </div>


                        <button type="submit" class="btn btn-perfil">Actualizar Alias</button>
                        <label type="button" onclick='cancelar_alias();' class="btn btn-perfil"> Cancelar </label>

                    </form>
                </form>
        </div>
    </div>

    <div class="col-xs-8">
        <h3> Tus Debates Abiertos </h3>
        <div class="datagrid"><table>
            <tr>
                <thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
            </tr>
            <tbody>
        		{% for deb in debates_abiertos %}
                    <tr>
        				<td> {{ deb.0.titulo }} </td>
        				<td><p> {{ deb.0.descripcion }} </p></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-tabla dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <button type="submit" onclick=location.href="{% url 'despliega' deb.0.id_debate %}" class="btn btn-link" > Ver  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>

                                </li>

                                {% ifequal deb.1 'no' %}
                                 <li>

                                    <button > no puede editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>

                                </li>
                                {%else%}
                                 <li>

                                    <button type="submit" onclick="formulario_editar_debate('#editardebate','{{deb.0.id_debate}}','{{deb.0.titulo}}','{{deb.0.descripcion}}','{{deb.0.date_fin.year}}','{{deb.0.date_fin.month}}','{{deb.0.date_fin.day}}','{{deb.0.alias_c}}','{{deb.0.largo}}')" class="btn btn-link" > Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>

                                </li>
                                {%endifequal%}

                                <li>
                                   <form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
                                        <input type="hidden" value="{{ deb.0.id_debate }}" name="id_deb">

                                        <button type="submit" class="btn btn-link" ><span class="glyphicon glyphicon-remove-circle"></span> Cerrar </button>
                                    </form>

                                </li>
                                <li role="separator" class="divider"></li>

                                    <li>

                                        <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}

                                        <input type="hidden" value="{{ deb.0.id_debate }}" name="id_deb_eliminar">

                                        <button type="submit" class="btn btn-link" > Eliminar <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                                        </form>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
        		{% endfor %}
            </tbody>
            </table>

            <h3> Tus Debates Cerrados </h3>
            <div class="datagrid"><table>
                    <tr>
                        <thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
                    </tr>
                    <tbody>
                		{% for deb in debates_cerrados %}
                            <tr>
                				<td> {{ deb.titulo }} </td>
                				 <td><p> {{ deb.descripcion }} </p></td>

                				<td> <div class="dropdown">
                                    <button class="btn btn-tabla dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li>
                                        <button type="submit" onclick=location.href="{% url 'despliega' deb.id_debate %}" class="btn btn-link" > Ver  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                	                </li>

                                    <li>
                                    <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea republicar el debate?');">{% csrf_token %}

                                    <input type="hidden" value="{{ deb.id_debate }}" name="id_deb_republicar">

                                    <button type="submit" class="btn btn-link" > Republicar <span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>
                    		        </form>

                                    </li>

                                    <li role="separator" class="divider"></li>

                                    <li>

                                        <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}

                                        <input type="hidden" value="{{ deb.id_debate }}" name="id_deb_eliminar">

                                        <button type="submit" class="btn btn-link" > Eliminar <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                    		            </form>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                            </tr>
                		{% endfor %}
                    </tbody>
                </table>
                <p class="bottom-three">.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

</html>
