<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}



<html>

{% block content %}
<div class="container">
    <div class="col-md-4">
        <h3>{{ usuario.first_name }} {{ usuario.last_name }} </h3>
        <div class="container-perfil">
        <br>

        <p1>Usuario: </p1>{{ usuario.username}}
        <br>
        <br>
        <p1>Email: </p1>{{ usuario.email }}
        <br>
        <br>
        <p1>Reputación: </p1>{{alias.reputacion}}
        <br>
        <br>
        <p1>Fecha de ingreso : </p1>{{ usuario.date_joined }}
        <br>
        <br>
        <div id="alias">
            <p1>Alias : </p1>{{alias.alias}}
            <button id = 'boton_alias' class="btn btn-perfil" onclick='javascript:cambiar_alias();'> Cambiar Alias <span class="glyphicon glyphicon-user" aria-hidden="true" ></span> </button>
        </div>

         </div>
        <br>
        {% if alias_form.alias.errors %}
          <div class="alert alert-danger">
              {{ alias_form.alias.errors }}
              <script>
              $(document).ready(function(){
              		try{document.getElementById("boton_alias").click();}
              		catch(err){}});
              </script>
          </div>
        {% endif %}
        <div id='formulario_alias' style="display: none;" >
          <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ alias_form.non_field_errors }}
						<div class="fieldWrapper">
                {{ alias_form.user }}
						    {{ alias_form.alias }}
						</div>
            <button name="nuevo_alias" type="submit" class="btn btn-perfil">Publicar</button>
            <label type="button" onclick='cancelar_alias();' class="btn btn-perfil"> Cancelar </label>
          </form>

        </div>
    </div>

    <div class="col-md-8">
        <!-- <h3> Tus Debates Abiertos </h3>
        <div class="datagrid"><table>
            <tr>
                <thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
            </tr>
            <tbody>
        		{% for deb in debates_abiertos %}
                    <tr>
        				<td> {{ deb.0.titulo }} </td>
        				<td><p> {{ deb.0.descripcion }} </p></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-tabla dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li>
                                    <button type="submit" onclick=location.href="{% url 'despliega' deb.0.id_debate %}" class="btn btn-link" > Ver  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>

                                </li>

                                {% ifequal deb.1 'no' %}
                                 <li>

                                    <button > no puede editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>

                                </li>
                                {%else%}
                                 <li>

                                    <button type="submit" onclick="formulario_editar_debate('#editardebate','{{deb.0.id_debate}}','{{deb.0.titulo}}','{{deb.0.descripcion}}','{{deb.0.date_fin.year}}','{{deb.0.date_fin.month}}','{{deb.0.date_fin.day}}','{{deb.0.alias_c}}','{{deb.0.largo}}')" class="btn btn-link" > Editar <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>

                                </li>
                                {%endifequal%}

                                <li>
                                   <form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
                                        <input type="hidden" value="{{ deb.0.id_debate }}" name="id_deb">

                                        <button type="submit" class="btn btn-link" ><span class="glyphicon glyphicon-remove-circle"></span> Cerrar </button>
                                    </form>

                                </li>
                                <li role="separator" class="divider"></li>

                                    <li>

                                        <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}

                                        <input type="hidden" value="{{ deb.0.id_debate }}" name="id_deb_eliminar">

                                        <button type="submit" class="btn btn-link" > Eliminar <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                                        </form>
                                    </li>

                                </ul>
                            </div>

                        </td>
                    </tr>
        		{% endfor %}
            </tbody>
            </table>

            <h3> Tus Debates Cerrados </h3>
            <div class="datagrid"><table>
                    <tr>
                        <thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
                    </tr>
                    <tbody>
                		{% for deb in debates_cerrados %}
                            <tr>
                				<td> {{ deb.titulo }} </td>
                				 <td><p> {{ deb.descripcion }} </p></td>

                				<td> <div class="dropdown">
                                    <button class="btn btn-tabla dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Opciones
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li>
                                        <button type="submit" onclick=location.href="{% url 'despliega' deb.id_debate %}" class="btn btn-link" > Ver  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
                	                </li>

                                    <li>
                                    <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea republicar el debate?');">{% csrf_token %}

                                    <input type="hidden" value="{{ deb.id_debate }}" name="id_deb_republicar">

                                    <button type="submit" class="btn btn-link" > Republicar <span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>
                    		        </form>

                                    </li>

                                    <li role="separator" class="divider"></li>

                                    <li>

                                        <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}

                                        <input type="hidden" value="{{ deb.id_debate }}" name="id_deb_eliminar">

                                        <button type="submit" class="btn btn-link" > Eliminar <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

                    		            </form>
                                    </li>
                                    </ul>
                                    </div>
                                </td>
                            </tr>
                		{% endfor %}
                    </tbody>
                </table> -->
                <p class="bottom-three">.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

</html>
