<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>
{% block content %}
<link rel="stylesheet" type='text/css' href="{% static '/css/perfil.css' %}" >
<div class="container-profile">
  <header>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src="{% static 'img/RDLogo05.png' %}"/>
          <div class="active"></div>
        </div>
        <h4 class="name">{{usuario.username}}</h4>
        <p class="info">{{ usuario.email }}</p>
        <div class="stats row">
          <div class="stat col-xs-6">
            <h4 class="name">{{alias.reputacion}}</h4>
            <p class="info">Reputación</p>
          </div>
          <div class="stat col-xs-6">
            <h4 class="name">{{stats.debates}}</h4>
            <p class="info">Publicaciones</p>
          </div>
        </div>
        <div class="stats row">
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.posturas}}</p>
            <p class="desc-stat">Posturas</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.triunfos}}</p>
            <p class="desc-stat">Triunfos</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.derrotas}}</p>
            <p class="desc-stat">Derrotas</p>
          </div>
        </div>
        <div class="stats row">
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.argumentos}}</p>
            <p class="desc-stat">Argumentos </p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.mejor_arg}}</p>
            <p class="desc-stat">Mejor</p>
          </div>
          <div class="stat col-xs-4">
            <p class="number-stat">{{stats.peor_arg}}</p>
            <p class="desc-stat">Peor</p>
          </div>
        </div>
        <!-- <p class="desc">{{ usuario.date_joined }}</p> -->
      </div>
      <div class="right col-lg-8">
        <div class="tab" role="tabpanel">
          <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">Información</a></li>
              <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">Debates Abiertos</a></li>
              <li role="presentation"><a href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">Debates Cerrados</a></li>
          </ul>

        <div class="tab-content tabs">
          <div role="tabpanel" class="tab-pane fade in active" id="Section1">
            <h4 class="fullname">{{usuario.get_full_name}}</h4>
            <p class="desc-datos">Username</p>
            <p class="datos">{{usuario.username}}</p>
            <p class="desc-datos">Miembro desde</p>
            <p class="datos">{{usuario.date_joined}}</p>
            <p class="desc-datos">Alias</p>
            <p class="datos">{{alias.alias}} <a id = 'boton_alias' onclick='javascript:cambiar_alias();'> <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span> </a></p>
            <p class="desc-datos">Personas alcanzadas</p>
            <p class="datos">20</p>

        {% if alias_form.alias.errors %}
          <div class="alert alert-danger">
              {{ alias_form.alias.errors }}
              <script>
              $(document).ready(function(){
              		try{document.getElementById("boton_alias").click();}
              		catch(err){}});
              </script>
          </div>
        {% endif %}
        <div id='formulario_alias' style="display: none;" >
          <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
            {{ alias_form.non_field_errors }}
						<div class="fieldWrapper">
                {{ alias_form.user }}
						    {{ alias_form.alias }}
						</div>
            <button name="nuevo_alias" type="submit" class="btn btn-index">Cambiar</button>
            <label type="button" onclick='cancelar_alias();' class="btn btn-index"> Cancelar </label>
          </form>

        </div>
          </div>
					<div role="tabpanel" class="tab-pane fade" id="Section2">
            <div class="row gallery">
              <!-- <ul class="cards">
                {% for deb in debates %}
                {% ifequal deb.datos.estado 'abierto' %}
                  <li class="cards__item">
                      <div class="card">
                        <div class="card__content">
                          <div class="card__title">{{ deb.datos.titulo }}</div>
                          <div class="progress">
                            {% ifequal deb.num_posturas 0 %}
                              <div class="progress-bar" style="background:rgba(0,0,0,0.4);; width: 100%">
                                sin posturas
                              </div>
                            {% else %}
                              {% ifequal deb.porcentaje_f 0 %}
                                <div class="progress-bar" style="background:#d9534f; width: {{deb.porcentaje_c}}%">
                                  <span class="glyphicon glyphicon-thumbs-down"></span> {{deb.num_posturas_ec}}
                                </div>
                              {% else %}
                                {% ifequal deb.porcentaje_c 0 %}
                                  <div class="progress-bar" style="background:#18BC9C; width: {{deb.porcentaje_f}}%">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> {{deb.num_posturas_af}
                                  </div>
                                  {% else %}
                                  <div class="progress-bar" style="background:#18BC9C; width: {{deb.porcentaje_f}}%">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> {{deb.num_posturas_af}
                                  </div>
                                  <div class="progress-bar" style="background:#d9534f; width: {{deb.porcentaje_c}}%">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> {{deb.num_posturas_ec}}
                                  </div>
                                {% endifequal %}
                              {% endifequal %}
                            {% endifequal %}
                          </div>
                          <p class=card__text> {{deb.datos.descripcion}} </p>
                          <div class="dropdown">
                            <button class="btn btn-card2 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Opciones
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li>
                                <form action="{% url 'despliega' deb.datos.id_debate %}">
                                  <button class="btn btn-dropdown-card">Ver</button>
                                </form>
                              </li>
                              <li>
                                <form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
                                    <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb">
                                    <button type="submit" class="btn btn-dropdown-card">Cerrar</button>
                                </form>
                              </li>
                              <li role="separator" class="divider"></li>
                              <li>
                                <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}
                                <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb_eliminar">
                                <button type="submit" class="btn btn-dropdown-card">Eliminar</button>
                                </form>
                              </li>
                            </ul> -->
                          </div>
                        </div>
                      </div>
                    </li>
                {% endifequal %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section3">
            <div class="row gallery">
              <!-- <ul class="cards">
                {% for deb in debates %}
                {% ifequal deb.datos.estado 'cerrado' %}
                <li class="cards__item">
                    <div class="card">
                      <div class="card__content">
                        <div class="card__title">{{ deb.datos.titulo }}</div>
                        <div class="progress">
                          {% ifequal deb.num_posturas 0 %}
                            <div class="progress-bar" style="background:rgba(0,0,0,0.6);; width: 100%">
                              sin posturas
                            </div>
                          {% else %}
                            {% ifequal deb.porcentaje_f 0 %}
                              <div class="progress-bar" style="background:#d9534f; width: {{deb.porcentaje_c}}%">
                                <span class="glyphicon glyphicon-thumbs-down"></span> {{deb.num_posturas_ec}}
                              </div>
                            {% else %}
                              {% ifequal deb.porcentaje_c 0 %}
                                <div class="progress-bar" style="background:#18BC9C; width: {{deb.porcentaje_f}}%">
                                  <span class="glyphicon glyphicon-thumbs-up"></span> {{deb.num_posturas_af}
                                </div>
                                {% else %}
                                <div class="progress-bar" style="background:#18BC9C; width: {{deb.porcentaje_f}}%">
                                  <span class="glyphicon glyphicon-thumbs-up"></span> {{deb.num_posturas_af}
                                </div>
                                <div class="progress-bar" style="background:#d9534f; width: {{deb.porcentaje_c}}%">
                                  <span class="glyphicon glyphicon-thumbs-down"></span> {{deb.num_posturas_ec}}
                                </div>
                              {% endifequal %}
                            {% endifequal %}
                          {% endifequal %}
                        </div>
                        <p class=card__text> {{deb.datos.descripcion}} </p>
                        <div class="dropdown">
                          <button class="btn btn-card2 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Opciones
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                              <form action="{% url 'despliega' deb.datos.id_debate %}">
                                <button class="btn btn-dropdown-card">Ver</button>
                              </form>
                            </li>
                            <li>
                              <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea republicar el debate?');">{% csrf_token %}
                                <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb_republicar">
                                <button type="submit" class="btn btn-dropdown-card">Republicar</button>
                              </form>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                              <form id="id" method="post" action= "{% url 'perfil' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}
                              <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb_eliminar">
                              <button type="submit" class="btn btn-dropdown-card">Eliminar</button>
                              </form>
                            </li>
                          </ul> -->
                        </div>
                      </div>
                    </div>
                  </li>
                {% endifequal %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        </div>
        <!-- columna -->
      </div>
  </main>
</div>

{% endblock content %}

</html>
