<!DOCTYPE html> 
{% extends 'base.html' %}
{% load static %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<html>


{% block content %}

<div class="container">
	<div class="blank"><table>
		<tr> 
			
			<td>
				<div class="container-titulo">
					
					<h3 class="h3-t1"> {{ debate.titulo }}</h3>
					{% ifequal debate.alias_c 'alias' %}
						<h5>Creado por {{alias}} en modo anónimo</h5>
						
					{%else%}
						<h5>Creado por {{usuario_creador}}</h5>
					{%endifequal%}

					
				</div>
			</td>
		</tr>

	</table>	
	</div>
	
	
	<div class="blank"><table>
		<tr> 
			<td width=120 ><p1>Descripción</p1></td>
			<td>{{ debate.descripcion }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Fecha inicio</p1></td>
			<td>{{ debate.date }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Estado</p1></td>
			<td>{{ debate.estado }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Tu Postura</p1></td>
			<td><div id="tu_postura" >{{postura_usr_deb}} </div></td>
		</tr>

	</table>	
	</div>

	<div id="estadisticas" > 
		<h3>Estadísticas</h3>	
		
		 <!--Div that will hold the pie chart-->
		 <div class="row_est">
			 <div class="col-md-6">
		    	<div id="chart_div"></div> 
		    </div>
		    <div class="col-md-6">
				<div id="chart_div2"  align = "center"></div>
			</div> 
		</div>
		<h2>  </h2>
		<div class="container">
			<div id="chart_arg_val" style="width: 900px; height: 300px;" ></div>
		</div>
	</div>



	<div id="argumentos" > 

		<h3>Argumentos</h3>
		<div class="container">
		  <div class="row">
		    <div class="col-xs-6">
		      <div class="datagrid"><table>
				<tr>
					<thead><th>A Favor <div style="float:right"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{{num_post_f}}</div></th></thead>
				</tr>
					  
					{% for arg in argF %}
					   	<tr><td> <p1>{{arg.1}}:</p1> {{arg.0}}  
					   	{% ifequal arg.4 'no' %}
					   	<div style="display:none; float:right; margin-right:10px;" id= "{{arg.3}}" > <span  class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span></div>
		 				<div style="float:right" >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </div>


					   		{% else %}
					   			<div style="float:right" >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </div>
					   		{%endifequal%}

					   	 </td></tr>     
					{% empty %}
					   	<tr><td> </td></tr> 
					{% endfor %}

			</table>
			</div>
		    </div>
		    <div class="col-xs-6">
		      	<div class="datagrid"><table>
				<tr>
					<thead><th>En Contra <div style="float:right"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{num_post_c}}</div></th></thead>
				</tr>
					  
					{% for arg in argC %}
					   	<tr><td> <p1>{{arg.1}}:</p1> {{arg.0}}  
					   	{% ifequal arg.4 'no' %}
					   	<div style="display:none; float:right; margin-right:10px;" id= "{{arg.3}}" > <span  class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span></div>
		 				<div style="float:right" >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </div>


					   		{% else %}
					   			<div style="float:right" >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </div>
					   		{%endifequal%}

					   	 </td></tr>     
					{% empty %}
					   	<tr><td> </td></tr> 
					{% endfor %}

			</table>
			</div>
		    </div>
		  </div>
		</div>
	</div>
</div>
	{% endblock content %}
</html>
