<!DOCTYPE html>
<script>
$(document).ready(function(){
		try{document.getElementById("argsTab").click();}
		catch(err){}});
</script>
<html>
<div class="container">
	<div class="blank"><table>
		<tr>
			<td>
				<div class="container-titulo">
					<div class="row">
						<div class="col-md-11" style="padding-left: 15px">
							<h3>{{ debate.titulo }}</h3>
							{% ifequal debate.alias_c 'alias' %}
								<h5>Creado por {{alias}} en modo anónimo</h5>
							{% else %}
								<h5>Debate creado por {{usuario_creador}}</h5>
							{% endifequal %}
						</div>
						<div class="col-md-1" style="margin-top: 20px">
							{% ifequal debate.estado 'abierto' %}
							<form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
								 <input type="hidden" value="{{ debate.id_debate  }}" name="id_deb">

								 <button type="submit" class="btn btn-titulo" ><span class="glyphicon glyphicon-remove-circle"></button>
						 </form>
						 {% endifequal %}
						</div>
					</div>
			</div>
			</td>
		</tr>
	</table></div>
	<div id="fb-root"></div>
	<div style="text-align: right">
	<div class="fb-share-button"
		data-href="http://reddebate.cl/reddebate/debate/{{debate.id_debate}}/"
		data-layout="button_count">
	</div></div><br>
	<div name="detalle-debate">
			<div class="row" id="my-row">
				<div class="col-md-3 panel">
					<button id="bot_af" type="submit" class="btn btn-postura" disabled ><span class="glyphicon glyphicon-thumbs-up"></span> A Favor <br><br><label id="label_porc_f">{{porc_f}}%</label></button>
				</div>
				<div class="col-md-6">
					<div class="blank">
							<table>
							<tr>
								<td width=120 ><p1>Descripción</p1></td>
								<td>{{ debate.descripcion }}
									{% if img %}
									<a href="{{ img.url }}"> Adjunto </a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td width=120 ><p1>Fecha inicio</p1></td>
								<td>{{ debate.date }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Estado</p1></td>
								<td>{{ debate.estado }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Tu Postura</p1></td>
								<td> Creador </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-3 panel">
					<button id="bot_ec" type="submit" class="btn btn-postura" disabled><span class="glyphicon glyphicon-thumbs-down"></span> En Contra <br><br> <label id="label_porc_c">{{porc_c}}%</label> </button>
				</div>
			</div>
		</div>
		{% ifequal debate.estado 'abierto'%}
		<div class="tab-slider--nav">
			<ul class="tab-slider--tabs">
				<li class="tab-slider--trigger active" rel="tab1">Discusión</li>
				<li class="tab-slider--trigger" rel="tab2">Estadísticas</li>
			</ul>
		</div>
		<div class="tab-slider--container">
			<div id="tab1" class="tab-slider--body">
				<h2>Argumentos</h2>
				<div name="argumentos-debate">
					<div class="row">
				    <div class="col-md-6">
							{% include 'participaciones.html' with frase="A Favor" comentario=argF postura=1 num_post=num_post_f%}
							<ul id="alertaArgumento1" class="list-group"></ul>
						</div>
						<div class="col-md-6">
							{% include 'participaciones.html' with frase="En Contra" comentario=argC postura=0 num_post=num_post_c%}
							<ul id="alertaArgumento0" class="list-group"></ul>
						</div>
					</div>
				</div>
				<p class="bottom-three">.</p>
			</div>
			<div id="tab2" class="tab-slider--body">
				{% include 'estadisticas.html' %}
			</div>
		{% else %}
			{% include 'estadisticas.html' %}
		{%endifequal%}
	</div>
</div>

</html>
