<!DOCTYPE html> 
{% extends 'base.html' %}
{% load static %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>



<html>

	{% block content %}
	<!--tabla de debates-->
	<div class="container">
		<div class="blank"><table>
			<tr> 

				<td>
					<div class="container-titulo">
						
						<h3 class="h3-t1"> {{ debate.titulo }}</h3>
						{% ifequal debate.alias_c 'alias' %}
							<h5>Creado por {{alias}} en modo anónimo</h5>
							
						{%else%}
							<h5>Debate creado por {{usuario_creador}}</h5>
						{%endifequal%}

						
					</div>
					
				</td>

			</tr>
		</table></div>

		{% ifequal debate.estado 'abierto'%}
			{% ifequal postura_usr_deb 'No definido' %}
				<button id = "bot_af" type="submit" class="btn btn-outline" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "1");'>A favor  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>

				<button id = "bot_ec" type="submit" class="btn btn-outline" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "0");' >En contra  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
				{%else%}
					{% ifequal postura_usr_deb 'A Favor' %}
						<button id = "bot_af" type="submit" class="btn btn-tabla" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "1");'>A favor  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
						<button id = "bot_ec" type="submit" class="btn btn-outline" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "0");' >En contra <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
					{% else %}
						<button id = "bot_af" type="submit" class="btn btn-outline" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "1");'>A favor  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
						<button id = "bot_ec" type="submit" class="btn btn-tabla" onclick='javascript:cambiar_postura("{{ debate.id_debate }}", "0");' >En contra <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
					{%endifequal%}
			{%endifequal%}
		{%endifequal%}
	<div class="blank"><table>
		<tr> 
			<td width=120 ><p1>Descripción</p1></td>
			<td>{{ debate.descripcion }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Fecha inicio</p1></td>
			<td>{{ debate.date }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Estado</p1></td>
			<td>{{ debate.estado }}</td>
		</tr>

		<tr> 
			<td width=120 ><p1>Tu Postura</p1></td>
			<td><div id="tu_postura" >{{postura_usr_deb}} </div></td>
		</tr>

	</table>	
	</div>

	{% ifequal postura_usr_deb 'No definido' %}
		
		<div id="argumentos" style="display: none;" > 
	
	{%endifequal%}
	
	<h2>Argumentos</h2>
	<div class="container">
	  <div class="row">
	    <div class="col-xs-6">
	          <div class="datagrid"><table>
	            <tr>
	              <thead>
	              	<th>
	              		A Favor
	              	</th>
	              	<th>
	              		
	              	</th>
	              	<th>
						<div style="float:right"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>{{num_post_f}}</div>
	              	</th>
	              </thead>
	            </tr>
	                
	              {% for arg in argF %}
	                  <tr><td> <p><p1>{{arg.1}}:</p1> {{arg.0}}</p>

	                  <td>
	                  {% ifequal arg.5 usuario %} <!-- editar -->
	                    <div style="float:right"> <button id="bot_editar_afavor" type="submit" class="btn btn-perfil" onclick='  javascript:formulario_editar_afavor("{{arg.0}}" );'> <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span> </button> </div>
	                  {% else %}  <!-- rebatir -->
	                  {% ifequal arg.7 'no_comentario' %} 
	                    <div style="float:right"> <button id="bot_rebatir_afavor" type="submit" class="btn btn-perfil" onclick='javascript:rebatir_favor("{{arg.3}}");' > Rebatir <span class="glyphicon glyphicon-comment"  ></span></button></div>
	                  {%endifequal%} 
	                  {%endifequal%} 
	              	  </td>

	                  <td>
	                  {% ifequal arg.4 'no' %} <!-- valorar habilitado -->
	                    <div style="display:none; float:right; margin-right:10px;" id= "{{arg.3}}" > <span  class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span></div>

	                    <div style="float:right;" id="num_valoracion1{{arg.3}}"> <button type="submit" class="btn btn-perfil" onclick='javascript:valorar("{{arg.3}}", "num_valoracion1{{arg.3}}");' >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}}  </button> </div>

	                  {% else %}<!-- valorar deshabilitado -->
	                    <div style="float:right; margin-right:10px;"  class="btn btn-perfil disabled" > <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span>  {{arg.2}}</div>
	                  {%endifequal%}
	              	  </td>

	              	  

	                  </td></tr>
	                  <tr><td>
	                    {% for respuesta in arg.6 %}
	                      <p>{{respuesta.1}}: {{respuesta.0}}</p>
	                    {% endfor %}
	                  </td></tr>      
	              {% empty %}
	                  <tr><td> </td></tr> 
	              {% endfor %}
	          </table> </div> <!-- datagrid -->

	          {% ifequal postura_usr_deb 'A Favor'  %}
	            {% ifequal t_arg 'no' %}
	              <button id="bot_argumento_afavor" type="submit" class="btn btn-perfil" onclick=' javascript:fomulario_argumento_afavor();'  style="display: block;" >Da tu Argumento</button>
	            {%endifequal%}
	          {% else %}
	            {% ifequal t_arg 'no' %}
	              <button id="bot_argumento_afavor" type="submit" class="btn btn-perfil" onclick=' javascript:fomulario_argumento_afavor();'  style="display: none;" >Da tu Argumento</button>
	            {%endifequal%}
	          {%endifequal%}
	          <div id="form_rebatir_afavor" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                  <div class="form-group">
	                    <textarea id="textarea6" rows="4" maxlength="{{debate.largo}}" name="descripcion_rebate" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                    <div id="textarea_feedback6"></div>
	                    <input id="argumento_id_rebate_favor" type="hidden" value="" name="id_arg_rebate">
	                    <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias:  {{alias_actual}}
	                      </label>
	                    </div>
	                  </div>
	                <button type="submit" class="btn btn-perfil">Rebatir</button>
	              </form>
	            </form>
	          </div>
	          <div id="form_editar_afavor" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                  <div class="form-group">
	                    <textarea id="textarea1" rows="4" maxlength="{{debate.largo}}" name="descripcion" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                     <div id="textarea_feedback1"></div>
	                      <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                    <input type="hidden"  value="1" name="postura">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias: {{alias_actual}}
	                      </label>
	                  </div>
	                  </div>
	                  <button type="submit" class="btn btn-perfil">Editar</button>
	              </form>
	            </form>
	          </div>
	          <div id="form_argumento_afavor" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                  <div class="form-group">
	                    <textarea id="textarea2" rows="4" maxlength="{{debate.largo}}" name="descripcion" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                    <div id="textarea_feedback2"></div>
	                    <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                    <input type="hidden"  value="1" name="postura">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias:  {{alias_actual}}
	                      </label>
	                    </div>
	                  </div>
	                <button type="submit" class="btn btn-perfil">Publicar</button>
	              </form>
	            </form>
	          </div>
	    </div> <!-- col1 -->

	        

	    <div class="col-xs-6">
	      <div class="datagrid"><table>
	        <tr>
	          <thead>
	          	<th>
	          		En Contra
	          	</th>
	          	<th>

	          	</th>
	          	<th>
	          		<div style="float:right"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> {{num_post_c}}</div>
	          	</th>
	          </thead>

	        </tr>
	            
	          {% for arg in argC %}
	              <tr valign="middle"><td><p> <p1>{{arg.1}}: </p1> {{arg.0}} </p> 

	              <td>
	              {% ifequal arg.5 usuario %} <!-- editar -->
	                <div style="float:right"> <button id="bot_editar_afavor" type="submit" class="btn btn-perfil" onclick='  javascript:formulario_editar_encontra("{{arg.0}}" );'> <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>  </button> </div>

	              {% else %}
	              	{% ifequal arg.7 'no_comentario' %} 
	                 <div style="float:right"> <!-- rebatir -->
	                <button id="bot_rebatir_contra" type="submit" class="btn btn-perfil" onclick='javascript:rebatir_contra("{{arg.3}}");' > Rebatir <span class="glyphicon glyphicon-comment"  ></span></button>
	                </div>
					{%endifequal%}
	              {%endifequal%} 
	          	  </td>
	          	  
	              <td>
	              {% ifequal arg.4 'no' %} <!-- valorar habilitado -->
	                <div style="display:none; float:right;" id= "{{arg.3}}" > 
	                <span  class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span></div>
	                <div style="float:right" id = "num_valoracion2{{arg.3}}"> <button type="submit" class="btn btn-perfil" onclick='javascript:valorar("{{arg.3}}", "num_valoracion2{{arg.3}}");' >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </button> </div>

	              {% else %} <!-- valorar deshabilitado -->
	                <div style="float:right" class="btn btn-perfil disabled" >   <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" ></span> {{arg.2}} </div>

	              {%endifequal%}
	              </td>
	             
	              
	               </td></tr> 
	               
	            	{% for respuesta in arg.6 %}
	                 	<tr><td class="rebatir">
	                		{{respuesta.1}}: {{respuesta.0}}
	                 	</td></tr>
	                {% endfor %}
	                
	          {% empty %}
	              <tr><td> </td></tr> 
	          {% endfor %}
	          

	      </table></div> <!-- datagrid -->

	      {% ifequal postura_usr_deb 'En Contra' %}
	            {% ifequal t_arg 'no' %}
	              <button id="bot_argumento_encontra" type="submit" class="btn btn-perfil" onclick='javascript:fomulario_argumento_encontra();' style="display: block;" >Da tu Argumento</button>
	            {%endifequal%}
	          {% else %}
	            {% ifequal t_arg 'no' %}
	              <button id="bot_argumento_encontra" type="submit" class="btn btn-perfil" onclick='javascript:fomulario_argumento_encontra();' style="display: none;" >Da tu Argumento</button>
	            {%endifequal%}
	          {%endifequal%}
	          <div id="form_rebatir_contra" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                  <div class="form-group">
	                    <textarea id="textarea3" rows="4" maxlength="{{debate.largo}}" name="descripcion_rebate" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                    <div id="textarea_feedback3"></div>
	                    <input id="argumento_id_rebate_contra" type="hidden" value="" name="id_arg_rebate">
	                    <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias:  {{alias_actual}}
	                      </label>
	                    </div>
	                  </div>
	                <button type="submit" class="btn btn-perfil">Rebatir</button>
	              </form>
	            </form>
	          </div>
	          <div id="form_editar_encontra" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                  <div class="form-group">
	                    <textarea id="textarea4" rows="4" maxlength="{{debate.largo}}" name="descripcion" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                     <div id="textarea_feedback4"></div>
	                      <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                    <input type="hidden"  value="0" name="postura">
	                    <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias:  {{alias_actual}}
	                      </label>
	                  </div>
	                  </div>
	                  <button type="submit" class="btn btn-perfil">Editar</button>

	              </form>
	            </form>
	          </div>

	          <div id="form_argumento_encontra" style="display: none;" > 
	            <form method="POST" class="post-form">{% csrf_token %}
	              <form action="/post_arg" id="publicar_form" method="post">{% csrf_token %}
	                <div class="form-group">
	                     <textarea id="textarea5" rows="4" maxlength="{{debate.largo}}" name="descripcion" value="" type="textarea" class="form-control" placeholder="descripcion"> </textarea>
	                     <div id="textarea_feedback5"></div>
	                     <input type="hidden" value="{{ debate.id_debate }}" name="id_deb">
	                     <input type="hidden" value="0" name="postura">
	                  <div class="checkbox">
	                      <label>
	                        <input type="checkbox" value="alias" name="alias" > Publicar con Alias:  {{alias_actual}}
	                      </label>
	                  </div>            </div>
	                  <button type="submit" class="btn btn-perfil">Publicar</button>
	              </form>
	            </form>
	          </div>    
	    </div> <!-- col2 -->
	  </div> <!-- row -->
	</div> <!-- container -->

	



{% ifequal postura_usr_deb 'No definido' %}
</div>


{%endifequal%}
</div>

	{% endblock content %}
</html>
