<!DOCTYPE html>
<script>
$(document).ready(function(){
		try{document.getElementById("argsTab").click();}
		catch(err){}});
</script>
<html>
<div class="container-debate">
	<header>
		<div class="row">
			<div class="col-md-11">
				<h2>{{ debate.title }}</h2>
				<p>
					<input id="idDebate" type="hidden" value={{debate.id_debate}}>
					{% ifequal debate.owner_type 'alias' %}
						<h5>Creado por {{owner_profile}} en modo anónimo</h5>
					{%else%}
						<h5>Debate creado por {{owner_user}}</h5>
					{%endifequal%}
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>{{visits}}
				</p>
			</div>
			<div class="col-md-1">
				{% ifequal debate.state 'open' %}
				<form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
					 <input type="hidden" value="{{ debate.id_debate  }}" name="id_deb">
					 <button type="submit" class="btn btn-title" data-toggle="tooltip" title="Cerrar debate" >
						 <i class="fa fa-archive"></i>
					 </button>
			 </form>
			 {% endifequal %}
			</div>
		</div>
	</header>
	<p class="debateDescripcion">{{ debate.text }}</p>
	<div id="fb-root"></div>
	<div style="text-align: right">
	<div class="fb-share-button"
		data-href="https://reddebate.cl/debate/3/"
		data-layout="button_count">
	</div></div><br>
	<div name="detalle-debate">
			<div class="row" id="my-row">
				<div class="col-md-3 panel">
					<button id="bot_af" type="submit" class="btn btn-postura1" disabled ></button>
				</div>
				<div class="col-md-6">
					<div class="blank">
							<table>
							<tr>
								<td width=120 ><p1>Fecha inicio</p1></td>
								<td>{{ debate.date }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Estado</p1></td>
								<td>{{ debate.state }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Tu Position</p1></td>
								<td> Creador </td>
							</tr>
							{% ifequal debate.members_type 0 %}
							<tr>
								<td width=120 ><p1>Tipo debate</p1></td><td><div id="tu_postura">  Publico </div></td>
							</tr>
							{% else %}
							<tr>
								<td width=120 ><p1>Tipo debate</p1></td><td><div id="tu_postura"> <a href="javascript:abrir_modal('participantes_modal')"> Privado </a></div></td>
							</tr>
							{% endifequal %}
						</table>
					</div>
				</div>
				<div class="col-md-3 panel">
					<button id="bot_ec" type="submit" class="btn btn-postura0" disabled></button>
				</div>
			</div>
	</div>
	{% ifequal debate.state 'closed'%}
		{% include 'estadisticas.html' with opendeb=False %}
	{% else %}
		<button onclick="toggle_div('#stats_in_open_deb')" class="btn btn-index"> Mostrar/Ocultar estadisticas </button>
		<div style="display:none" id="stats_in_open_deb">
			{% include 'estadisticas.html' with opendeb=True %}
		</div>
		<div id="progresoDebate">
				{% ifequal stats.infavor_percent 0 %}
					<div id="progreso"class="progress-bar" style="background:#d9534f; width: {{stats.against_percent}}%">
						<span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{stats.against_percent}}%</label>
					</div>
				{% else %}
					{% ifequal stats.against_percent 0 %}
						<div id="progreso"class="progress-bar" style="background:#18BC9C; width: {{stats.infavor_percent}}%">
							<span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{stats.infavor_percent}}%</label>
						</div>
						{% else %}
						<div id="progresoFavor"class="progress-bar" style="width: {{stats.infavor_percent}}%">
							<span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{stats.infavor_percent}}%</label>
						</div>
						<div id="progresoContra"class="progress-bar" style="width: {{stats.against_percent}}%">
							<span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{stats.against_percent}}%</label>
						</div>
					{% endifequal %}
				{% endifequal %}
		</div>
		<div name="argumentos-debate">
			<div class="row">
		    <div class="col-md-6">
					{% include 'participaciones.html' with name_position="A Favor" arguments=stats.infavor_args_list position=1 num_post=stats.infavor_position_num%}
					<ul id="alertaArgumento1" class="list-group"></ul>
				</div>
				<div class="col-md-6">
					{% include 'participaciones.html' with name_position="En Contra" arguments=stats.against_args_list position=0 num_post=stats.against_position_num%}
					<ul id="alertaArgumento0" class="list-group"></ul>
				</div>
			</div>
		</div>
		<p class="bottom-three">.</p>
	{%endifequal%}
</div>

</html>
