<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html>


{% block content %}
<script type="text/javascript">
$(document).ready(function(){
	google.charts.load('current', {'packages':['corechart', 'bar']});
	google.charts.setOnLoadCallback(posturaChart);
	google.charts.setOnLoadCallback(argumentosChart);
	google.charts.setOnLoadCallback(mejorArgumentoChart);
	google.charts.setOnLoadCallback(cambioPosturaChart);
	});
	var varGlobal = {
		postura_f : {{num_post_f}},
		postura_c : {{num_post_c}},
		argumentos_f : {{argF|length}},
		argumentos_c : {{argC|length}},
		primer_arg_f : 0,
		segundo_arg_f : 0,
		primer_arg_c : 0,
		segundo_arg_c : 0,
		cambio_favor_contra: {{cambio_f_c}},
		cambio_contra_favor: {{cambio_c_f}},
		cambio_total: {{cambio_f_c}} + {{cambio_c_f}}
	}
	{% if argF.0.2 %} varGlobal.primer_arg_f={{ argF.0.2}}; {% endif %}
	{% if argF.1.2 %} varGlobal.segundo_arg_f={{ argF.1.2}}; {% endif %}
	{% if argC.0.2 %} varGlobal.primer_arg_c={{ argC.0.2}}; {% endif %}
	{% if argC.1.2 %} varGlobal.segundo_arg_c={{ argC.1.2}}; {% endif %}
</script>
<div class="container">
	<div class="blank"><table>
		<tr>

			<td>
				<div class="container-titulo">

					<h3 class="h3-t1"> {{ debate.titulo }}</h3>
					{% ifequal debate.alias_c 'alias' %}
						<h5>Creado por {{alias}} en modo anónimo</h5>

					{%else%}
						<h5>Creado por {{usuario_creador}}</h5>
					{%endifequal%}


				</div>
			</td>
		</tr>

	</table>
	</div>


	<div class="blank"><table>
		<tr>
			<td width=120 ><p1>Descripción</p1></td>
			<td>{{ debate.descripcion }}</td>
		</tr>

		<tr>
			<td width=120 ><p1>Fecha inicio</p1></td>
			<td>{{ debate.date }}</td>
		</tr>

		<tr>
			<td width=120 ><p1>Estado</p1></td>
			<td>{{ debate.estado }}</td>
		</tr>

		<tr>
			<td width=120 ><p1>Tu Postura</p1></td>
			<td><div id="tu_postura" >{{postura_usr_deb}} </div></td>
		</tr>

	</table>
	</div>


	<div id="estadisticas" >
		<h3>Estadísticas</h3>

		<div class="row_est">
			 <div class="col-md-4"> <div id="piechart_postura"></div></div>
			 <div class="col-md-4"> <div id="piechart_argumento"></div></div>
		   <div class="col-md-4"> <div id="piechart_cambioPostura"></div></div>
		</div>
		<br><br><br>
		<div class="container">
			<div id="chart_mejorArgumento" style="width: 900px; height: 300px;" ></div>
		</div>
	</div>



	<div id="argumentos" >
		<h3>Argumentos</h3>
		<div class="container" name="arg_afavor">
			<div class="row">
		    <div class="col-md-6">
					{% include 'participaciones.html' with frase="A Favor" comentario=argF postura=1 num_post=num_post_f%}
				</div>
				<div class="col-md-6">
					{% include 'participaciones.html' with frase="En Contra" comentario=argC postura=0 num_post=num_post_c%}
				</div>
			</div>
	</div>
	</div>
	<p class="bottom-three">.</p>
</div>
	{% endblock content %}
</html>
