<!DOCTYPE html>

<html>
<script type="text/javascript">
$(document).ready(function(){
  try {
    document.getElementById("bot_af").disabled = true;
    document.getElementById("bot_ec").disabled = true;
  } catch (e) {
    document.getElementById("bot_af_init").disabled = true;
    document.getElementById("bot_ec_init").disabled = true;
  }
	google.charts.load('current', {'packages':['corechart', 'bar', 'annotationchart']});
	google.charts.setOnLoadCallback(posturaChart);
	google.charts.setOnLoadCallback(argumentosChart);
	google.charts.setOnLoadCallback(mejorArgumentoChart);
	google.charts.setOnLoadCallback(cambioPosturaChart);
  google.charts.setOnLoadCallback(razonCambioChart);
	google.charts.setOnLoadCallback(posturasTiempo);
	});
	var varGlobal = {
		infavor_position : {{stats.infavor_position_num}},
		against_position : {{stats.against_position_num}},
		argumentos_f : {{stats.infavor_args_list|length}},
		argumentos_c : {{stats.against_args_list|length}},
		primer_arg_f : 0,
		segundo_arg_f : 0,
		primer_arg_c : 0,
		segundo_arg_c : 0,
		cambio_favor_contra: {{stats.infavor_to_against}},
		cambio_contra_favor: {{stats.against_to_infavor}},
		cambio_total: {{stats.infavor_to_against}} + {{stats.against_to_infavor}},
		razon_favor_contra: {{stats.reason_infavor_to_against}},
		razon_contra_favor: {{stats.reason_against_to_infavor}},
	};
  var positions_by_day = {{stats.positions_by_day|safe}};

	{% if stats.infavor_args_list.0.2 %} varGlobal.primer_arg_f={{ stats.infavor_args_list.0.2}}; {% endif %}
	{% if stats.infavor_args_list.1.2 %} varGlobal.segundo_arg_f={{ stats.infavor_args_list.1.2}}; {% endif %}
	{% if stats.against_args_list.0.2 %} varGlobal.primer_arg_c={{ stats.against_args_list.0.2}}; {% endif %}
	{% if stats.against_args_list.1.2 %} varGlobal.segundo_arg_c={{ stats.against_args_list.1.2}}; {% endif %}
</script>
<!-- <div class="container"> -->
  <div id="estadisticas" >
    <h3>Estadísticas</h3>
    <div id="chart_div" style="width: 100%; height: 200px"></div>
    <div class="row">
       <div class="col-md-4"> <div id="piechart_postura"></div></div>
       <div class="col-md-4"> <div id="piechart_argumento"></div></div>
       <div class="col-md-4"> <div id="piechart_cambioPostura"></div></div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-md-6"> <div id="chart_mejorArgumento"></div></div>
      <div class="col-md-6"> <div id="chart_razonCambio"></div></div>
    </div>
    <br><br><br>
  </div>
<!-- </div> -->
</html>
