<!DOCTYPE html>

<html>
<script type="text/javascript">
$(document).ready(function(){
  document.getElementById("bot_af").disabled = true;
  document.getElementById("bot_ec").disabled = true;
	google.charts.load('current', {'packages':['corechart', 'bar']});
	google.charts.setOnLoadCallback(posturaChart);
	google.charts.setOnLoadCallback(argumentosChart);
	google.charts.setOnLoadCallback(mejorArgumentoChart);
	google.charts.setOnLoadCallback(cambioPosturaChart);
	google.charts.setOnLoadCallback(razonCambioChart);
	});
	var varGlobal = {
		postura_f : {{num_post_f}},
		postura_c : {{num_post_c}},
		argumentos_f : {{argF|length}},
		argumentos_c : {{argC|length}},
		primer_arg_f : 0,
		segundo_arg_f : 0,
		primer_arg_c : 0,
		segundo_arg_c : 0,
		cambio_favor_contra: {{cambio_f_c}},
		cambio_contra_favor: {{cambio_c_f}},
		cambio_total: {{cambio_f_c}} + {{cambio_c_f}},
		razon_favor_contra: {{razon_f_c}},
		razon_contra_favor: {{razon_c_f}}
	}
	{% if argF.0.2 %} varGlobal.primer_arg_f={{ argF.0.2}}; {% endif %}
	{% if argF.1.2 %} varGlobal.segundo_arg_f={{ argF.1.2}}; {% endif %}
	{% if argC.0.2 %} varGlobal.primer_arg_c={{ argC.0.2}}; {% endif %}
	{% if argC.1.2 %} varGlobal.segundo_arg_c={{ argC.1.2}}; {% endif %}
</script>
<!-- <div class="container"> -->
  <div id="estadisticas" >
    <h3>Estadísticas</h3>

    <div class="row">
       <div class="col-md-4"> <div id="piechart_postura"></div></div>
       <div class="col-md-4"> <div id="piechart_argumento"></div></div>
       <div class="col-md-4"> <div id="piechart_cambioPostura"></div></div>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col-md-6"> <div id="chart_mejorArgumento"></div></div>
      <div class="col-md-6"> <div id="chart_razonCambio"></div></div>
    </div>
    <br><br><br>
  </div>
<!-- </div> -->
</html>
