<!DOCTYPE html>

<div class="datagrid">
  <table id="Tabla_Argumentos{{postura}}">
    <tr><thead>
      	<th> # </th>
      	<th> {{frase}} </th>
      	<!--<th> </th> -->
      	<th> <div style="float:right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <label id="label_num_post{{postura}}"> {{num_post}} </label> </div> </th>
    </thead></tr>
    {% for arg in comentario %}
      <tr>
        <td style="border-bottom: #fff;">
          {% ifequal arg.4.0 'no' %}
            <button id="sumar_val{{arg.3}}" type="submit" class="btn btn-valorar" onclick='javascript:valorar("{{arg.3}}","sumar");'>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
          {% else %}
            <button id="nulo_sumar_val{{arg.3}}" type="submit" class="btn btn-nulo" onclick='javascript:valorar("{{arg.3}}","nulo-sumar");'>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
          {% endifequal %}
        </td>
        <td rowspan="3"><!-- comentario-->
          {% with name=arg.3|stringformat:"i"|add:"Xargumento" %}
            <p><a href="{% url 'perfiles' name %}"><p1>{{arg.1}}:</p1></a> {{arg.0}}</p>
          {% endwith %}
        </td>
        <td style="border-bottom: #fff; text-align: center;"> <!-- boton editar/rebatir-->
      		<div style="float:right">
            <button id="bot_rebatir{{postura}}" type="submit" class="btn btn-args" data-whatever="{{arg.6}}" onclick='javascript:mostrar_modal("respuesta_modal{{postura}}{{arg.3}}","{{arg.3}}","{{arg.6}}","{{postura}}");' >{{ arg.6|length }} <span class="glyphicon glyphicon-comment"  ></span></button>
          </div>
        </td>

          <div id="respuesta_modal{{postura}}{{arg.3}}" class="modal">
            <div class="modal-content">
              <span class="close" onclick="cerrar_modal('respuesta_modal{{postura}}{{arg.3}}')">&times;</span>
              <h3>Respuestas <span class="glyphicon glyphicon-comment"></span></h3>
                <div id="descripcion_argumento">
                  {{arg.0}}
                </div>
                  <div id="respuestas" class="modal-body">
                    {% for respuesta in arg.6%}
                      <div class="panel panel-default">
                        <div class="panel-body">
                        {% with name=respuesta.2|stringformat:"i"|add:"Xrespuesta" %}
                        <p><a href="{% url 'perfiles' name %}"><p1>{{respuesta.1}}:</p1></a> {{respuesta.0}}</p>
                        {% endwith %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  {% if arg.7 %}
                  <div id="form_rebatir">
                    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                      {{resp_form.as_p}}
                      <input type="hidden" value="{{arg.3}}" name="id_argumento{{postura}}">
                      <button name="responder{{postura}}"type="submit" class="btn btn-perfil">Responder</button>
                    </form>
                    <button type="submit" class="btn btn-perfil" onclick="cerrar_modal('respuesta_modal{{postura}}{{arg.3}}')">Cancelar</button>
                  </div>
                  {% else %}
                  <div>Ya no puedes rebatir</div>
                  {% endif %}
            </div>
          </div>

      </tr>
      <tr>
        <td style="border-bottom: #fff; text-align: center;" id="val{{arg.3}}"> {{arg.2}}</td>
        {% ifequal arg.10 arg.11%}
        <td style="border-bottom: #fff; text-align: center; display:none" id="cambio_postura{{arg.3}}"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </td>
        {% else %}
        <td style="border-bottom: #fff; text-align: center; display:block" id="cambio_postura{{arg.3}}"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> </td>
        {% endifequal %}
      </tr>
      <tr>
        <td>
          {% ifequal arg.4.1 'no' %}
          <button id="quitar_val{{arg.3}}" type="submit" class="btn btn-valorar" onclick='javascript:valorar("{{arg.3}}","quitar");'>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          </button>
          {% else %}
          <button id="nulo_quitar_val{{arg.3}}" type="submit" class="btn btn-nulo" onclick='javascript:valorar("{{arg.3}}","nulo-quitar");'>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          </button>
          {% endifequal %}
        </td>
        <td><div style="float:right">
          {% ifequal arg.5 usuario %}
            <form id="eliminar_arg" method="post" action= "{% url 'despliega' debate.id_debate %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el argumento?');">{% csrf_token %}
              <input type="hidden" value="{{ arg.3 }}" name="id_arg_eliminar">
              <input type="hidden" value="{{ debate.id_debate }}" name="id_deb_arg_eliminar">
              <button type="submit" class="btn btn-args" > <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </form>
          {% else %}
            <button id="bot_reportar" type="submit" class="btn btn-args" onclick='' ><span class="glyphicon glyphicon-bullhorn"></span></button>
          {%endifequal%}
        </div></td>
      </tr>
    {% empty %}
      <tr><td class="vacio"> </td></tr>
    {% endfor %}
  </table>
</div> <!-- datagrid -->
<!-- {% ifequal postura_usr_deb 'No definido' %}
  <button id="bot_argumento{{postura}}" type="submit" class="btn btn-perfil" onclick=" javascript:fomulario_argumento('{{postura}}');"  style="display: none;" >Da tu Argumento</button>
{% else %}
  {% ifequal t_arg 'no' %}
    {% ifequal postura_usr_deb frase%}
      <button id="bot_argumento{{postura}}" type="submit" class="btn btn-perfil" onclick=" javascript:fomulario_argumento('{{postura}}');"  style="display: block;" >Da tu Argumento</button>
    {% else %}
      <button id="bot_argumento{{postura}}" type="submit" class="btn btn-perfil" onclick=" javascript:fomulario_argumento('{{postura}}');"  style="display: none;" >Da tu Argumento</button>
    {%endifequal%}
  {%endifequal%}
{%endifequal%}
<ul id="alertaArgumento{{postura}}" class="list-group">

</ul>
<div id="form_argumento{{postura}}" style="display: none;" >
  <form id="nuevoArgForm{{postura}}" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
    {% ifequal postura_usr_deb 'A Favor' %}
      {{arg_form1.as_p}}
    {% else %}
      {{arg_form0.as_p}}
    {% endifequal %}
    <button name="argumento" type="submit" class="btn btn-perfil">Publicar</button>
  </form>
</div> -->
