<!DOCTYPE html>

<div class="datagrid{{postura}}">
  <table id="Tabla_Argumentos{{postura}}">
    <tr><thead>
      	<th> # </th>
      	<th> {{frase}} </th>
      	<!--<th> </th> -->
      	<th> <div style="float:right"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <label id="label_num_post{{postura}}"> {{num_post}} </label> </div> </th>
    </thead></tr>
    {% for arg in comentario %}
      <tr>
        <td style="border-bottom: #fff;">
          {% ifequal arg.t_val.0 'no' %}
            <button id="sumar_val{{arg.id_arg}}" type="submit" class="btn btn-valorar{{postura}}" onclick='javascript:valorar("{{arg.id_arg}}","sumar","{{debate.id_debate}}");'>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
          {% else %}
            <button id="nulo_sumar_val{{arg.id_arg}}" type="submit" class="btn btn-nulo{{postura}}" onclick='javascript:valorar("{{arg.id_arg}}","nulo-sumar","{{debate.id_debate}}");'>
            <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
            </button>
          {% endifequal %}
        </td>
        <td id="bordeTabla{{postura}}" rowspan="3"><!-- comentario-->
            <p><a href="{% url 'perfil' id_arg=arg.id_arg %}"><p1>{{arg.usr_creador}}:</p1></a> {{arg.descripcion}}</p>
        </td>
        <td style="border-bottom: #fff; text-align: center;"> <!-- boton editar/rebatir-->
      		<div style="float:right">
            <button id="bot_rebatir{{postura}}" type="submit" class="btn btn-args{{postura}}" data-whatever="{{arg.redebates}}" onclick='javascript:mostrar_modal("respuesta_modal{{postura}}{{arg.id_arg}}","{{arg.id_arg}}","{{arg.redebates}}","{{postura}}");' >
              {{ arg.redebates|length }} <span class="glyphicon glyphicon-comment"  ></span>
            </button>
          </div>
        </td>

          <div id="respuesta_modal{{postura}}{{arg.id_arg}}" class="modal">
            <div class="modal-content">
              <h3><span class="close" onclick="cerrar_modal('respuesta_modal{{postura}}{{arg.id_arg}}')">&times;</span>
              <span class="glyphicon glyphicon-comment"></span> Redebates</h3>
                <div id="descripcion_argumento">
                  <p1>{{arg.usr_creador}}</p1> argumentó...
                  <h4>"{{arg.descripcion}}"</h4>
                </div>
                  <div id="respuestas" class="modal-body">
                    {% for respuesta in arg.redebates%}
                      <div class="dialogbox">
                        <div class="body">
                          <span class="tip tip-up"></span>
                          <div class="message">
                            <p><a href="{% url 'perfil' id_arg=arg.id_arg id_reb=respuesta.id_rebate %}"><p1>{{respuesta.usr_creador}}:</p1></a> {{respuesta.descripcion}}</p>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  {% ifequal tipo_rebate 1 %}
                    {% ifequal rebate frase %}
                      {% if arg.rebatir %}
                      <div id="form_rebatir" class="modal-footer">
                        <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                          {{resp_form.as_p}}
                          <input type="hidden" value="{{arg.id_arg}}" name="id_argumento{{postura}}">
                          <button name="responder{{postura}}"type="submit" class="btn btn-deb{{postura}}">Responder</button>
                        </form>
                      </div>
                      {% else %}
                      <div>Ya no puedes rebatir</div>
                      {% endif %}
                    {% endifequal %}
                  {% else %}
                    {% if arg.rebatir %}
                    <div id="form_rebatir" class="modal-footer">
                      <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                        {{resp_form.descripcion}}
                        {{resp_form.alias_c}}
                        <input type="hidden" value="{{arg.id_arg}}" name="id_argumento{{postura}}">
                        <button name="responder{{postura}}"type="submit" class="btn btn-deb{{postura}}">Responder</button>
                      </form>
                    </div>
                    {% else %}
                    <div>Ya no puedes rebatir</div>
                    {% endif %}
                  {% endifequal %}
            </div>
          </div>

      </tr>
      <tr>
        <td style="border-bottom: #fff; text-align: center;" id="val{{arg.id_arg}}"> {{arg.valoracion}}</td>
        {% ifequal arg.post_usr_arg arg.11%}
        <td style="border-bottom: #fff; text-align: center; display:none" id="cambio_postura{{arg.id_arg}}"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> </td>
        {% else %}
        <td style="border-bottom: #fff; text-align: center; display:block" id="cambio_postura{{arg.id_arg}}"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> </td>
        {% endifequal %}
      </tr>
      <tr id="bordeTabla{{postura}}">
        <td>
          {% ifequal arg.t_val.1 'no' %}
          <button id="quitar_val{{arg.id_arg}}" type="submit" class="btn btn-valorar{{postura}}" onclick='javascript:valorar("{{arg.id_arg}}","quitar","{{debate.id_debate}}");'>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          </button>
          {% else %}
          <button id="nulo_quitar_val{{arg.id_arg}}" type="submit" class="btn btn-nulo{{postura}}" onclick='javascript:valorar("{{arg.id_arg}}","nulo-quitar","{{debate.id_debate}}");'>
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          </button>
          {% endifequal %}
        </td>
        <td><div style="float:right">
          {% ifequal arg.id_creador usuario %}
            <form id="eliminar_arg" method="post" action= "{% url 'despliega' debate.id_debate %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el argumento?');">{% csrf_token %}
              <input type="hidden" value="{{ arg.id_arg }}" name="id_arg_eliminar">
              <input type="hidden" value="{{ debate.id_debate }}" name="id_deb_arg_eliminar">
              <button type="submit" class="btn btn-args{{postura}}" > <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </form>
          {% else %}
            <button id="bot_reportar" type="submit" class="btn btn-args{{postura}}" onclick='' ><span class="glyphicon glyphicon-bullhorn"></span></button>
          {%endifequal%}
        </div></td>
      </tr>
    {% empty %}
      <tr><td class="vacio"> </td></tr>
    {% endfor %}
  </table>
</div>
