<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type='text/css' href="{% static '/css/dataTables.css' %}" >
{% if not user.is_staff and not user.is_superuser %}
{% include '404.html' %}
{% else %}
<div class="row">
  <div class="col-sm-4">
    <div class="container-profile left-container">
      <header>
      </header>
      <main class="center">
        <div class="photo-left">
          <img class="photo" src="{{ alias.img.url }}"/>
          <div class="active"></div>
        </div>
        <h4 class="name">{{target_user.username}}</h4>
        <p class="info">{{ target_user.email }}</p>
        <div class="stats row">
          {% if user.is_staff or user.is_superuser %}
          {% if user.is_superuser %}
          ADMINISTRADOR
          {% else %}
          MODERADOR
          {% endif %}
          {% endif %}
        </div>
        <div class="stats row">
          <div class="stat col-xs-6">
            <h4 class="name">0</h4>
            <p class="info">Reputación</p>
          </div>
          <div class="stat col-xs-6">
            <h4 class="name">0</h4>
            <p class="info">Moderaciones</p>
          </div>
        </div>
      </main>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="container-profile right-container">
      <header class="header-info">
        <h3><i class="fa fa-bullhorn" aria-hidden="true"></i> Reportes</h3>
      </header>
      <main class="center">
        <table id="myTable" class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Elemento</th>
                    <th>Tipo</th>
                    <th>Razon</th>
                    <th>Creador</th>
                    <th>Reportado</th>
                </tr>
            </thead>
            <tbody>
              {% for report in data_report %}
                <tr>
                    <td >{{report.element}}</td>
                    <td >{{report.type}}</td>
                    <td>{{report.reason}}</td>
                    <td >{{report.owner}}</td>
                    <td >{{report.reported}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <script src="{% static 'js/dataTable.js' %}"></script>
      </main>
    </div>
  </div>
</div>
{% endif %}
