<!DOCTYPE html>
{% load static %}
<div id="participantes_modal" class="modal">
	<div class="modal-content">
		<span class="close" onclick="cerrar_modal('participantes_modal')">&times;</span>
		<h3>Integrantes <span class="glyphicon glyphicon-user"></span></h3>
		<input type="text" value="" name="searchColumn" id="searchUser3" placeholder="Busca a un usuario..."/>
		{% for member in debate_members%}
		{% ifequal member.type 'username' %}
		<a type = "text" class="dummy-media-object" href="{% url 'username' user.id %}">
			<img class="round" src="{{ member.profile.img.url }}"/>
			<p> {{member.user}} </p>
		</a>
		{% else %}
		<a type = "text" class="dummy-media-object" href="{% url 'alias' user.id %}">
			<img class="round" src="{% static 'img/RDLogo05.png' %}"/>
			<p> {{member.profile.alias}} </p>
		</a>
		{% endifequal%}
		{% endfor %}
	</div>
</div>

	<div class="container-debate">
		<header>
      <div class="row">
  			<div class="col-md-11">
  				<h2>{{ debate.title }}</h2>
  				<p>
  					<input id="idDebate" type="hidden" value={{debate.id_debate}}>
  					{% ifequal debate.owner_type 'alias' %}
  						<h5>Creado por {{owner_profile}} en modo anónimo</h5>
  					{%else%}
  						<h5>Debate creado por {{owner_user}}</h5>
  					{%endifequal%}
  					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>{{visits}}
  				</p>
  			</div>
  			<div class="col-md-1">
  				<form id="id" method="post" action= "{% url 'resumen:index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}
  					 <input type="hidden" value="{{ debate.id_debate  }}" name="id_delete_deb">
  					 <button type="submit" class="btn btn-title" data-toggle="tooltip" title="Eliminar debate" >
  						 <i class="fa fa-trash"></i>
  					 </button>
  			 </form>
  			</div>
  		</div>
		</header>
		<p class="debateDescripcion">{{ debate.text }}</p>
		<div id="fb-root"></div>
		<div style="text-align: right">
		<div class="fb-share-button"
    	data-href="http://reddebate.cl/debate/10/"
    	data-layout="button_count">
  	</div></div><br>
		<div name="detalle-debate">
			<div class="row" id="my-row">
				<div class="col-md-3 panel">
							<button id = "bot_af" type="submit" class="btn btn-posturactual1" disabled ></button>
				</div>
				<div class="col-md-6">
					<div class="blank">
							<table>
							<tr>
								<td width=120 ><p1>Fecha inicio</p1></td><td>{{ debate.date }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Estado</p1></td><td>{{ debate.state }}</td>
							</tr>
							<tr>
								<td width=120 ><p1>Tu Position</p1></td><td><div id="tu_postura"> {{actual_user_position}} </div></td>
							</tr>
							{% ifequal debate.members_type 0 %}
							<tr>
								<td width=120 ><p1>Tipo debate</p1></td><td><div id="tu_postura">  Publico </div></td>
							</tr>
							{% else %}
							<tr>
								<td width=120 ><p1>Tipo debate</p1></td><td><div id="tu_postura"> <a href="javascript:abrir_modal('participantes_modal')"> Privado </a></div></td>
							</tr>
							{% endifequal %}
						</table>
					</div>
				</div>
				<div class="col-md-3 panel">
							<button id = "bot_ec" type="submit" class="btn btn-posturactual0" disabled ></button>
				</div>
			</div>
		</div>
		{% ifequal debate.state 'closed'%}
			{% include 'estadisticas.html' %}
		{% else %}
			<div id="progresoDebate">
					{% ifequal infavor_percent 0 %}
		        <div id="progreso"class="progress-bar" style="background:#d9534f; width: {{against_percent}}%">
		          <span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{against_percent}}%</label>
		        </div>
		      {% else %}
		        {% ifequal against_percent 0 %}
		          <div id="progreso"class="progress-bar" style="background:#18BC9C; width: {{infavor_percent}}%">
		            <span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{infavor_percent}}%</label>
		          </div>
		          {% else %}
		          <div id="progresoFavor"class="progress-bar" style="width: {{infavor_percent}}%">
		            <span class="glyphicon glyphicon-thumbs-up"></span> <label id="label_porc_f">{{infavor_percent}}%</label>
		          </div>
		          <div id="progresoContra"class="progress-bar" style="width: {{against_percent}}%">
		            <span class="glyphicon glyphicon-thumbs-down"></span> <label id="label_porc_c">{{against_percent}}%</label>
		          </div>
		      {% endifequal %}
				</div>
					<!-- argumentos -->
				<div id="argumentos">
				<div name="argumentos-debate">
					<div class="row">
				    <div class="col-md-6">
							{% include 'moderador_participaciones.html' with name_position="A Favor" arguments=infavor_args_list position=1 num_post=infavor_position_num%}
							<ul id="alertaArgumento1" class="list-group"></ul>
						</div>
						<div class="col-md-6">
							{% include 'moderador_participaciones.html' with name_position="En Contra" arguments=against_args_list position=0 num_post=against_position_num%}
							<ul id="alertaArgumento0" class="list-group"></ul>
						</div>
					</div>
				</div>
			{% endifequal %}
		{% endifequal %}
		<p class="bottom-three">.</p>
		</div>
</div>
