<!DOCTYPE html>
{% load static %}
<html>
	<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/RDLogo02.png' %}"/>

    <!--Load the AJAX API google charts-->
      <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
			<script src="{% static 'js/jquery.js' %}"></script>
      <script src="https://www.gstatic.com/charts/loader.js"></script>
      <link rel="stylesheet" type='text/css' href="{% static '/css/style.css' %}" >

      <!-- DatePicker -->
      <link rel="stylesheet" href="{% static 'css/datepicker.css' %}"/>
      <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
			<script src="{% static 'js/functions.js' %}"></script>
			<script src="{% static 'js/channels.js' %}"></script>
      <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
      <script>
        $(function() {
          $('.datepicker').datepicker();
        });
      </script>

       <title>RED DE DEBATE</title>
	</head>
<body>
<script type="text/javascript">
(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
  function valorar(argumento, opcionusr){
		 $.ajax({

				 url: "{% url 'despliega' 1 %}" ,
				 type: 'POST',
				 data:{  id_arg : argumento,
								 opcion: opcionusr,
								 csrfmiddlewaretoken: '{{ csrf_token }}'
							 } ,
							 success: function(data) {
								 location.reload()

							 },

							 failure: function(data) {
									 alert('Error de conexión');
							 },
							 crossDomain: true
					 });
   }

  $(document).ready(
    function(){
      try{
				$('[data-toggle="popover"]').popover();
        document.getElementById("dbt_abiertos").click();}
      catch(err){}
			$(".tab-slider--body").hide();
  		$(".tab-slider--body:first").show();
			$(".tab-slider--nav li").click(function() {
			  $(".tab-slider--body").hide();
			  var activeTab = $(this).attr("rel");
			  $("#"+activeTab).fadeIn();
				if($(this).attr("rel") == "tab2"){
					$('.tab-slider--tabs').addClass('slide');
				}else{
					$('.tab-slider--tabs').removeClass('slide');
				}
			  $(".tab-slider--nav li").removeClass("active");
			  $(this).addClass("active");
			});
    });

  $(document).ready(function() {
    {% if debate.largo %}
    var text_max = {{ debate.largo }};
    {% else %}
    var text_max = 0;
    {% endif %}
    $('#textarea_feedback1').html(text_max + ' caracteres restantes');
    $('#textarea_feedback2').html(text_max + ' caracteres restantes');
    $('#textarea_feedback3').html(text_max + ' caracteres restantes');
    $('#textarea_feedback4').html(text_max + ' caracteres restantes');
    $('#textarea_feedback5').html(text_max + ' caracteres restantes');
    $('#textarea_feedback6').html(text_max + ' caracteres restantes');

    $('#textarea6').keyup(function() {
      var text_length = $('#textarea6').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback6').html(text_remaining + ' caracteres restantes'); });

    $('#textarea5').keyup(function() {
      var text_length = $('#textarea5').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback5').html(text_remaining + ' caracteres restantes'); });

    $('#textarea4').keyup(function() {
      var text_length = $('#textarea4').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback4').html(text_remaining + ' caracteres restantes'); });

    $('#textarea3').keyup(function() {
      var text_length = $('#textarea3').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback3').html(text_remaining + ' caracteres restantes'); });

    $('#textarea2').keyup(function() {
      var text_length = $('#textarea2').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback2').html(text_remaining + ' caracteres restantes'); });

    $('#textarea1').keyup(function() {
      var text_length = $('#textarea1').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback1').html(text_remaining + ' caracteres restantes'); });
  });

  $(document).ready(function() {
    {% if debate.largo %}
    var text_max = {{ debate.largo }};
    {% else %}
    var text_max = 0;
    {% endif %}
    $('#textarea_feedback1').html(text_max + ' caracteres restantes');
    $('#textarea_feedback2').html(text_max + ' caracteres restantes');
    $('#textarea_feedback3').html(text_max + ' caracteres restantes');
    $('#textarea_feedback4').html(text_max + ' caracteres restantes');
    $('#textarea_feedback5').html(text_max + ' caracteres restantes');
    $('#textarea_feedback6').html(text_max + ' caracteres restantes');

    $('#textarea6').keyup(function() {
      var text_length = $('#textarea6').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback6').html(text_remaining + ' caracteres restantes'); });

    $('#textarea5').keyup(function() {
      var text_length = $('#textarea5').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback5').html(text_remaining + ' caracteres restantes'); });

    $('#textarea4').keyup(function() {
      var text_length = $('#textarea4').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback4').html(text_remaining + ' caracteres restantes'); });

    $('#textarea3').keyup(function() {
      var text_length = $('#textarea3').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback3').html(text_remaining + ' caracteres restantes'); });

    $('#textarea2').keyup(function() {
      var text_length = $('#textarea2').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback2').html(text_remaining + ' caracteres restantes'); });

    $('#textarea1').keyup(function() {
      var text_length = $('#textarea1').val().length;
      var text_remaining = text_max - text_length;
      $('#textarea_feedback1').html(text_remaining + ' caracteres restantes'); });
  });
</script>

	<div class="page-header">
	<!--barra superior-->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="{% url 'index' %}"><IMG SRC="{% static 'img/RDLogo03.png' %}" height='65' ALT="RedDebateLogo"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'index' %}">Todos los Debates</a>
                    </li>

                    <li>
                        <a href="{% url 'perfil' %}"> Perfil </a>
                    </li>

										<!-- <li>
											 <a href="#"> <span class="glyphicon glyphicon-bell"></span> <span class="badge"> 42</span></a>
										</li> -->
										<li>
											<a href="#" rel="popover" title="Notificaciones" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-popover-content="#popoverNotificaciones">
												<span class="glyphicon glyphicon-bell"></span> <span id="num_notif" class="badge"> {{notificaciones|length}}</span>
											</a>
										</li>
                </ul>
            </div>
						<div id ="popoverNotificaciones" class="hide">
						{% for notificacion in notificaciones  %}
						{% ifequal notificacion.estado 0 %}
							<div id="notificacion{{notificacion.id}}" class="alert alert-info" role="alert">
								<a href="{% url 'ver_notificacion' notificacion.id_debate_id notificacion.id %}">{{notificacion}}</a>
							</div>
						{% endifequal %}
						{% endfor %}
						</div>



            <!-- /.navbar-collapse -->
        </div>


        <!-- /.container -->
    </nav>



    </div>
     <div align="right" style="padding-right: 30px;">
     <br>
        {{ user.get_full_name }}
				<label id="id_usuario_actual" class="hide" value="{{user.id}}">{{user.id}}</label>
				<br>
        <a href="{% url 'logout' %}"> Cerrar Sesión</a>
    </div>
	{% block content %}
	{% endblock content %}

  <div class="container">

    <div align="right">
      <button onclick=window.open("http://146.83.216.163/mantisbt/login_page.php") type="submit" class="btn btn-index" > Reportar Problema</button>
    </div>
  </div>
	</body>
</html>
