  <!DOCTYPE html>
{% load static %}
<html>
	<head>


    <!--Load the AJAX API google charts-->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <link rel="stylesheet" type='text/css' href="{% static '/css/bootstrap.css' %}" >
        <link rel="stylesheet" type='text/css' href="{% static 'bootstrap-master/dist/css/bootstrap.min.css' %}" >
        <script type="text/javascript" href="{% static 'bootstrap-master/js/moment-with-locales.js' %}" ></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" href="{% static 'bootstrap-master/js/bootstrap-datetimepicker.js' %}" ></script> 
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <!-- DatePicker -->
        <link rel="stylesheet" href="{% static 'css/datepicker.css' %}"/>
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script> 
          $(function() {
            $('.datepicker').datepicker();
          });
        </script>

       <title>RED DE DEBATE </title>
	</head>
    <body>
        <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '644604552363752',
                  xfbml      : true,
                  version    : 'v2.8'
                });

                // ADD ADDITIONAL FACEBOOK CODE HERE
                function onLogin(response) {
                  if (response.status == 'connected') {
                    FB.api('/me?fields=first_name', function(data) {
                      var welcomeBlock = document.getElementById('fb-welcome');
                      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
                    });
                  }
                }

                FB.getLoginStatus(function(response) {
                  // Check login status on load, and if the user is
                  // already logged in, go directly to the welcome message.
                  if (response.status == 'connected') {
                    onLogin(response);
                  } else {
                    // Otherwise, show Login dialog first.
                    FB.login(function(response) {
                      onLogin(response);
                    }, {scope: 'user_friends, email'});
                  }
                });


              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>



<script type="text/javascript">
     function cambiar_postura(id_debate, postura){
     console.log("funciona .. hasta aqui");

        $.ajax({
 
            url: "{% url 'despliega' 1 %}" , 
            type: 'POST',
            data:{  id : id_debate,
                    postu: postura,
                    csrfmiddlewaretoken: '{{ csrf_token }}'} ,
                  success: function(data) {
                    document.getElementById('tu_postura').innerHTML = ' tu postura actual: ' + data;
                    console.log(data);
                     if (data == "En Contra"){
                      
                      document.getElementById('bot_ec').style.backgroundColor = '#535353';
                      document.getElementById('bot_af').style.backgroundColor = 'WHITE';

                      if (document.getElementById('form_argumento_afavor').style.display=='none'){
                        document.getElementById('bot_argumento_encontra').style.display = 'block';
                        document.getElementById('bot_argumento_afavor').style.display = 'none';
                      }
                      else
                      {
                        document.getElementById('form_argumento_afavor').style.display = 'none';

                        document.getElementById('bot_argumento_encontra').style.display = 'block';

                      }            
                    }
                    else{
                      document.getElementById('bot_af').style.backgroundColor = '#535353';
                      document.getElementById('bot_ec').style.backgroundColor = 'WHITE';

                      if (document.getElementById('form_argumento_encontra').style.display=='none'){
                        document.getElementById('bot_argumento_afavor').style.display = 'block';
                        document.getElementById('bot_argumento_encontra').style.display = 'none';
                      }
                      else
                      {
                        document.getElementById('form_argumento_encontra').style.display = 'none';

                        document.getElementById('bot_argumento_afavor').style.display = 'block';

                      }  

                    }

                    if (document.getElementById('argumentos')){
                      if (data == "En Contra"){
                        document.getElementById('num_postura_contra').innerHTML = {{num_post_c}} ;
                      }
                      else{
                        document.getElementById('num_postura_favor').innerHTML = {{num_post_f}} ;
                      }
                      document.getElementById('argumentos').style.display = 'block';
                    }
                    else{
                      if (data == "En Contra"){
                        document.getElementById('num_postura_contra').innerHTML = '<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> ' + {{num_post_c}};
                        document.getElementById('num_postura_favor').innerHTML = '<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> ' + {{num_post_f}} ;
                      }
                      else{
                        document.getElementById('num_postura_favor').innerHTML = '<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> ' + {{num_post_c}} ;
                        document.getElementById('num_postura_contra').innerHTML = '<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> ' + {{num_post_f}} ;
                      }


                    }
                  },
                  failure: function(data) {
                      alert('Error de conexión');
                  },
                  crossDomain: true
              });
    }
    function cambiar_alias(){
      console.log("llega al cambiar_alias");
      document.getElementById('boton_alias').style.display = 'none';

      document.getElementById('formulario_alias').style.display = 'block';

    }

    function cancelar_alias(){
      console.log("llega al cambiar_alias");
      document.getElementById('formulario_alias').style.display = 'none';
      document.getElementById('boton_alias').style.display = 'block';

      

    }
    function formulario_editar_encontra(descripcion ){
      console.log("funciona .. hasta aqui editar_contra");
      document.getElementById('textarea2').value = descripcion ;
      document.getElementById('form_editar_encontra').style.display = 'block';
     



    }


    function formulario_editar_afavor(descripcion ){
      console.log("funciona .. hasta aqui editar");
      document.getElementById('textarea1').value = descripcion ;
      document.getElementById('form_editar_afavor').style.display = 'block';
     



    }

    function fomulario_argumento_afavor(){
     console.log("funciona .. hasta aqui");
     document.getElementById('form_argumento_afavor').style.display = 'block';

     document.getElementById('bot_argumento_afavor').style.display = 'none';
    }

    function fomulario_argumento_encontra(){
     console.log("funciona .. hasta aqui");
     document.getElementById('form_argumento_encontra').style.display = 'block';

     document.getElementById('bot_argumento_encontra').style.display = 'none';
    }

     function valorar(argumento, id_div){
     console.log("llega al valorar");

     console.log(argumento);

        $.ajax({
    
            url: "{% url 'despliega' 15 %}" , 
            type: 'POST',
            data:{  id_arg : argumento,
                    csrfmiddlewaretoken: '{{ csrf_token }}'} ,
                  success: function(data) { // id
                    document.getElementById(id_div).innerHTML = data;
                    document.getElementById(argumento).style.display = 'block';
                    
                    console.log("div: ");
                    console.log(id_div);
                    },
                  failure: function(data) {
                      alert('Error de conexión');
                  },
                  crossDomain: true
              });
    }

    


   $(document).ready(function() {
    {% if debate.largo %}
      var text_max = {{ debate.largo }};
    {% else %}
      var text_max = 0;
    {% endif %}
    $('#textarea_feedback1').html(text_max + ' characters remaining');
    $('#textarea_feedback2').html(text_max + ' characters remaining');

    $('#textarea2').keyup(function() {
        var text_length = $('#textarea2').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback2').html(text_remaining + ' characters remaining');
    });

    $('#textarea1').keyup(function() {
        var text_length = $('#textarea1').val().length;
        var text_remaining = text_max - text_length;

        $('#textarea_feedback1').html(text_remaining + ' characters remaining');
    });
});

/*<textarea id="field" onkeyup="countChar(this)"></textarea>

function countChar(val){
     var len = val.value.length;
     if (len >= 500) {
              val.value = val.value.substring(0, 500);
     } else {
              $('#charNum').text(500 - len);
     }
};
*/
 // Load the Visualization API and the corechart package.
 //console.log(document.getElementById('chart_div').length);
   //   if (document.getElementById('chart_arg_val') ){

    
      google.charts.load('current', {'packages':['corechart','bar']});


      // Set a callback to run when the Google Visualization API is loaded.
      
  //if ($('#chart_div').length) {
      google.charts.setOnLoadCallback(drawChart_argumento);
      google.charts.setOnLoadCallback(drawChart_postura);
      google.charts.setOnLoadCallback(drawStuff);
      function drawStuff() {
        {% if argF.0 %}
            var val_argF1 = {{ argF.0.2}};
        {% else %}
           var val_argF1 =0;
        {% endif %}
        {% if argF.1 %}
            var val_argF2 = {{ argF.1.2 }};
        {% else %}
           var val_argF2 =0;
        {% endif %}
        {% if argC.0 %}
            var val_argC1 = {{ argC.0.2 }};
        {% else %}
           var val_argC1 =0;
        {% endif %}
        {% if argC.1 %}
            var val_argC2 = {{ argC.1.2 }};
        {% else %}
           var val_argC2 =0;
        {% endif %}

        var data = new google.visualization.arrayToDataTable([
          ['Argumentos', 'A Favor', 'En Contra'],
          ['Argumento más valorado', val_argF1 ,val_argC1  ],
          ['Argumento 2º más valorado', val_argF2  , val_argC2 ],
        ]);

        var options = {
          width: 800,
          chart: {
            title: 'Valoracion',
            subtitle: 'Comparación de los argumentos a favor y en contra más valorados'
          },
          bars: 'horizontal', // Required for Material Bar Charts.
          series: {
            0: { axis: 'argumento' }, // Bind series 0 to an axis named 'distance'.
            1: { axis: 'valoracion' } // Bind series 1 to an axis named 'brightness'.
          },
          axes: {
            x: {
              argumento: {label: 'Valoracion'}, // Bottom x-axis.
              valoracion: {side: 'top', label: 'magnitud'} // Top x-axis.
            }
          }
        };

      var chart = new google.charts.Bar(document.getElementById('chart_arg_val'));
      chart.draw(data, options);
    };

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart_argumento() {

        {% if argF %}
            var cant_argF = {{ argF|length }};
        {% else %}
           var cant_argF =0;
        {% endif %}
        {% if argC %}
            var cant_argC = {{ argC|length }};
        {% else %}
           var cant_argC =0;
        {% endif %}
        console.log("cant_argF");
        console.log(cant_argF);
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['A Favor', cant_argF],
          ['En Contra', cant_argC],
        ]);

        // Set chart options
        var options = {'title':'Cantidad de Argumentos en el debate',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      };

      function drawChart_postura() {

        {% if num_post_f > 0 %}
          var cant_postF = {{ num_post_f }};
        {% else %}
          var cant_postF =0;
        {% endif %}
        {% if num_post_c > 0 %}
          var cant_postC = {{ num_post_c }};
        {% else %}
          var cant_postC =0;
        {% endif %}
        console.log("cant_postF");
        console.log(cant_postF);
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['A Favor', cant_postF],
          ['En Contra', cant_postC],
        ]);

        // Set chart options
        var options = {'title':'Cantidad de Posturas en el debate',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      };

 // }
     
 

</script>


	<div class="page-header">
	<!--barra superior-->
        <div class="container"><h1 id="fb-welcome">hola</h1></div>     
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Red Debate</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'post_new' %}">Nuevo Debate</a>
                    </li>
                    <li>
                        <a href="{% url 'perfil' %}">Perfil</a>
                    </li>
                    
                   

                </ul>
            </div>
             
                  

            <!-- /.navbar-collapse -->
        </div>
       

        <!-- /.container -->
    </nav>



    </div>
	{% block content %}
	{% endblock content %}
	
	</body>
</html>
