  <!DOCTYPE html>
{% load static %}
<html>
	<head>
        <link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap.css' %}" ><!-- 
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

       <title>RED DE DEBATE </title>
	</head>
    <body>
        <script>
              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '644604552363752',
                  xfbml      : true,
                  version    : 'v2.8'
                });

                // ADD ADDITIONAL FACEBOOK CODE HERE
                function onLogin(response) {
                  if (response.status == 'connected') {
                    FB.api('/me?fields=first_name', function(data) {
                      var welcomeBlock = document.getElementById('fb-welcome');
                      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
                    });
                  }
                }

                FB.getLoginStatus(function(response) {
                  // Check login status on load, and if the user is
                  // already logged in, go directly to the welcome message.
                  if (response.status == 'connected') {
                    onLogin(response);
                  } else {
                    // Otherwise, show Login dialog first.
                    FB.login(function(response) {
                      onLogin(response);
                    }, {scope: 'user_friends, email'});
                  }
                });


              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));
            </script>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



<script type="text/javascript">
     function cambiar_postura(id_debate, postura){
     console.log("funciona .. hasta aqui");

        $.ajax({
 
            url: "{% url 'despliega' 1 %}" , 
            type: 'POST',
            data:{  id : id_debate,
                    postu: postura,
                    csrfmiddlewaretoken: '{{ csrf_token }}'} ,
                  success: function(data) {
                    document.getElementById('tu_postura').innerHTML = ' tu postura actual: ' + data;
                  },
                  failure: function(data) {
                      alert('Error de conexión');
                  },
                  crossDomain: true
              });
    }
    function fomulario_argumento_afavor(){
     console.log("funciona .. hasta aqui");
     document.getElementById('form_argumento_afavor').style.display = 'block';

     document.getElementById('bot_argumento_afavor').style.display = 'none';
    }

    function fomulario_argumento_encontra(){
     console.log("funciona .. hasta aqui");
     document.getElementById('form_argumento_encontra').style.display = 'block';

     document.getElementById('bot_argumento_encontra').style.display = 'none';
    }


</script>


	<div class="page-header">
	<!--barra superior-->
        <div class="container"><h1 id="fb-welcome">hola</h1></div>     
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Red Debate</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'post_new' %}">Nuevo Debate</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    
                   

                </ul>
            </div>
             
                  

            <!-- /.navbar-collapse -->
        </div>
       

        <!-- /.container -->
    </nav>



    </div>
	{% block content %}
	{% endblock content %}
	
	</body>
</html>
