<!DOCTYPE html>

<section class="success" id="nuevodebate" style="display:none">
<div class="container">
<form id="nuevodebateform" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
  <div class="row" id=publicar-debate>
    <div class="col-md-8">
      {{ form.non_field_errors }}
      <div class="fieldWrapper">
          {{ form.titulo.errors }}
          {{ form.titulo.label_tag }}
          {{ form.titulo }}
      </div>
      <div class="fieldWrapper">
          {{ form.descripcion.errors }}
          {{ form.descripcion.label_tag }}
          {{ form.descripcion }}
      </div>
      <!-- <div class="fieldWrapper">
          {{ form.img.errors }}
          {{ form.img.label_tag }}
          {{ form.img }}
      </div> -->
    </div>
    <div class="col-md-2">
      <div class="fieldWrapper">
          {{ form.alias_c.errors }}
          {{ form.alias_c.label_tag }}
          {{ form.alias_c }}
      </div>
        <div class="fieldWrapper">
          {{ form.largo.errors }}
          {{ form.largo.label_tag }}
          <div class="input-group spinner">
            {{ form.largo }}
            <div class="input-group-btn-vertical">
              <a href="javascript: spinnerReglas('debLargoForm','1','340','140','100')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              <a href="javascript: spinnerReglas('debLargoForm','-1','340','140','100')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="fieldWrapper">
          {{ form.num_argumento.errors }}
          {{ form.num_argumento.label_tag }}
          <div class="input-group spinner">
            {{ form.num_argumento }}
            <div class="input-group-btn-vertical">
              <a href="javascript: spinnerReglas('debArgsForm','1','3','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              <a href="javascript: spinnerReglas('debArgsForm','-1','3','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="fieldWrapper">
            {{ form.date_fin.errors }}
            {{ form.date_fin.label_tag }}
            {{ form.date_fin }}
            <a  href="javascript: borrarFecha()" class="btn btn-default">
              <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </a>
        </div>
        </div>
        <div class="col-md-2">
        <div class="fieldWrapper">
          {{ form.num_rebate.errors }}
          {{ form.num_rebate.label_tag }}
          <div class="input-group spinner">
            {{ form.num_rebate }}
            <div class="input-group-btn-vertical">
              <a href="javascript: spinnerReglas('debRebateForm', '1','5','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              <a href="javascript: spinnerReglas('debRebateForm','-1','5','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="fieldWrapper">
          {{ form.tipo_rebate.errors }}
          {{ form.tipo_rebate.label_tag }}
          {{ form.tipo_rebate }}
        </div>
        <div class="fieldWrapper">
          {{ form.num_cambio_postura.errors }}
          {{ form.num_cambio_postura.label_tag }}
          <div class="input-group spinner">
            {{ form.num_cambio_postura }}
            <div class="input-group-btn-vertical">
              <a href="javascript: spinnerReglas('debCambioPostForm', '1','10','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
              <a href="javascript: spinnerReglas('debCambioPostForm','-1','10','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="fieldWrapper">
          {{ form.tipo_participacion.errors }}
          {{ form.tipo_participacion.label_tag }}
          {{ form.tipo_participacion }}
        </div>
        <div id="participantesDiv" class="fieldWrapper">
          {{ form.participantes.errors }}
          {{ form.participantes.label_tag }}
          <div id="containercheckbox">
          {{ form.participantes }}
          </div>
        </div>

    </div>
  </div>
  <button type="submit" class="btn btn-publicar">Publicar</button>
  <a onclick="cierra_formulario('#nuevodebate')" class="btn btn-cancelar" >Cancelar</a>
</form>
</div>
</section>
