<!DOCTYPE html>
{% load static %}

<form id="nuevodebateform" method="POST" enctype="multipart/form-data">{% csrf_token %}

    <!-- fieldsets -->
    <fieldset>
      <div class="row leftAlign">
        <div class="col-md-6">
          {{ form.non_field_errors }}
          <div class="fieldWrapper">
              {{ form.titulo.errors }}
              <label>Titulo Debate</label>
              <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="tooltipformtext">Corresponde al título del debate. Se recomienda que sea una afirmación</span>
              </div>
              {{ form.titulo }}<div id="errorTitulo" class="alert alert-danger" role="alert">¡¡Escribe un título!!</div>
          </div>
          <div class="fieldWrapper">
              {{ form.descripcion.errors }}
              <label>Descripción Debate</label>
              <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <span class="tooltipformtext">Corresponde a la descripción de tu debate, donde puedes detallar la información correspondiente a tu afirmación</span>
              </div>
              {{ form.descripcion }}<div id="errorDesc" class="alert alert-danger" role="alert">¡¡Escribe una descripción!!</div>
          </div>
          <label> Tags del debate </label>
          <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            <span class="tooltipformtext">Una etiqueta o tag es una palabra clave asignada al debate. Ayudan a clasificar y agrupar debates por temas</span>
          </div><br>
          <input id="tagsForms" type="text" data-role="tagsinput"/>
        </div>
        <div class="col-md-6">
          <div class="fieldWrapper">
            {{ form.tipo_participacion.errors }}
            <label>Privacidad de debate</label>
            <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="tooltipformtext">Indica si deseas que tu debate sea publico o privado. Si es privado, debes seleccionar a los usuarios que tendrán acceso</span>
            </div>
            {{ form.tipo_participacion }}
            <a id="modificarusr" href="javascript:abrir_modal('usuariosPrivado_modal')" style="display:none"> Modificar usuarios</a>
            <a id="moficarlista" href="javascript:abrir_modal('usuariosPrivadoLista_modal')" style="display:none"> Modificar lista</a>
          </div>
          <div class="fieldWrapper">
            {{ form.alias_c.errors }}
            <label>Nombre a mostrar</label>
            <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="tooltipformtext">Indica si deseas publicar el debate con tu nombre o con tu alias. Este estará visible a quienes participen del debate</span>
            </div>
            {{ form.alias_c }}
          </div>
          <div class="fieldWrapper">
            {{ form.date_fin.errors }}
            <label>Fecha fin del debate</label>
            <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <span class="tooltipformtext">Indica la fecha de cierre automático de tu debate. Si la dejas vacía, no se cerrará hasta que tu mismo lo hagas</span>
            </div><br>
            {{ form.date_fin }}
          </div>
        </div>
      </div>
      <div id="opcionesAvanzadas_modal" class="modal">
      	<div class="modal-content">
          <div class="row leftAlign">
           <div class="col-md-1"></div>
           <div class="col-md-5">
             {{ form.num_cambio_postura.errors }}
             <label>Cambios de postura por cada usuario</label>
             <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
               <span class="tooltipformtext">Indica la cantidad de veces que los usuarios pueden cambiar de postura en tu debate</span>
             </div>
             <div class="input-group spinner">
               {{ form.num_cambio_postura }}
               <div class="input-group-btn-vertical">
                 <a href="javascript: spinnerReglas('debCambioPostForm', '1','10','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                 <a href="javascript: spinnerReglas('debCambioPostForm','-1','10','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
               </div>
             </div>
           </div>
           <div class="col-md-5"></div>
           <div class="col-md-1"></div>
         </div>
         <div class="row leftAlign">
           <div class="col-md-1"></div>
             <div class="col-md-5">
               {{ form.num_argumento.errors }}
               <label> Cantidad de argumentos por cada usuario </label>
               <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                 <span class="tooltipformtext">Indica la cantidad máxima de argumentos que los usuarios pueden publicar en tu debate</span>
               </div>
               <div class="input-group spinner">
                 {{ form.num_argumento }}
                 <div class="input-group-btn-vertical">
                   <a href="javascript: spinnerReglas('debArgsForm','1','3','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                   <a href="javascript: spinnerReglas('debArgsForm','-1','3','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                 </div>
               </div>
             </div>
             <div class="col-md-5">
               {{ form.largo.errors }}
               <label>Cantidad de caracteres por cada argumento</label>
               <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                 <span class="tooltipformtext">Indica la cantidad máxima de caracteres que tendrá cada argumento que sea publicado en tu debate</span>
               </div>
               <div class="input-group spinner">
                 {{ form.largo }}
                 <div class="input-group-btn-vertical">
                   <a href="javascript: spinnerReglas('debLargoForm','1','340','140','100')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                   <a href="javascript: spinnerReglas('debLargoForm','-1','340','140','100')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                 </div>
               </div>
             </div>
             <div class="col-md-1"></div>
           </div>
           <div class="row leftAlign">
             <div class="col-md-1"></div>
             <div class="col-md-5">
                 {{ form.num_rebate.errors }}
                 <label>Cantidad de rebates por cada usuario</label>
                 <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                   <span class="tooltipformtext">Indica la cantidad máxima de rebates que los usuarios pueden counterargument1 a los argumentos de tu debate</span>
                 </div>
                 <div class="input-group spinner">
                   {{ form.num_rebate }}
                   <div class="input-group-btn-vertical">
                     <a href="javascript: spinnerReglas('debRebateForm', '1','5','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                     <a href="javascript: spinnerReglas('debRebateForm','-1','5','1','1')"class="btn btn-default"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
                   </div>
                 </div>
               </div>
               <div class="col-md-5">
                 {{ form.counterarg_type.errors }}
                 <label>Tipo de rebate</label>
                 <div class="tooltipform"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                   <span class="tooltipformtext">Indica si deseas que los usuarios puedan counterargument1 a argumentos de la postura contraria o a ambas posturas</span>
                 </div>
                 {{ form.counterarg_type }}
               </div>
               <div class="col-md-1"></div>
           </div>
           <a href="javascript:cerrar_modal('opcionesAvanzadas_modal')" class="submit action-button"> Aceptar </a>

        </div>
      </div>
      <div id="usuariosPrivado_modal" class="modal">
      	<div class="modal-content">
          <h5>
            <span class="close" onclick="cerrar_modal('usuariosPrivado_modal')">&times;</span><br>
            Usuarios
          </h5>
          <div class="fieldWrapper">
            {{form.participantes.errors }}
            <input type="text" value="" name="searchColumn" id="searchUser1" placeholder="Busca a un usuario..."/>
            <div id="containercheckbox" class="userscheckbox">
            {% for field in form.participantes %}
            <div class="inputGroup">{{field}}</div>
            {%endfor%}
            </div>
            <a href="javascript:cerrar_modal('usuariosPrivado_modal')" class="submit action-button"> Aceptar </a>
          </div>
        </div>
      </div>
      <div id="usuariosPrivadoLista_modal" class="modal">
        <div class="modal-content">
          <h5>
            <span class="close" onclick="cerrar_modal('usuariosPrivadoLista_modal')">&times;</span><br>
            Listas
          </h5>
          <div class="fieldWrapper">
            {{form.participantes.errors }}
            <input type="text" value="" name="searchColumn" id="searchLista1" placeholder="Busca a un usuario..."/>
            <div class="radioFiltro">{{ form.filtro }}</div>
            <div id="containercheckbox" class="userscheckbox">
              {% for field in form.listado %}
              <div class="inputGroup">{{field}}</div>
              {%endfor%}
            </div>
            <a href="javascript:cerrar_modal('usuariosPrivadoLista_modal')" class="submit action-button"> Aceptar </a>
          </div>
        </div>
      </div>
      <div class="leftAlign">
        <a href="javascript:abrir_modal('opcionesAvanzadas_modal')"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
      </div>
      <input type="submit" name="submit" class="submit action-button" value="Publicar" />
      <a href="javascript:cierra_formulario('#nuevodebateform')">Cancelar</a>

    </fieldset>
</form>
<script  src="{% static 'js/debateform.js' %}"></script>
