<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>

	{% block content %}
  <div class="container-search">
        <header>
          <h2> Resultados de la búsqueda: {{query}}</h2>
          <p>{{object_list|length}} debates | {{deb_pub}} publicos | {{deb_pri}} privados </p>
        </header>
        {% ifequal object_list|length 0 %}
          <h3> ¡No hay resultados!</h3>
        {% else %}
        {% if deb_pub != 0%}
          <h3> Publicos </h3>
          {% include 'grilla.html' with estado='abierto' tipo=0 %}
        {% endif %}
        {% if deb_pri != 0%}
          <h3> Privados </h3>
          {% include 'grilla.html' with estado='abierto' tipo=1 %}
        {% endif %}
        {%endifequal%}

  </div>
  {% endblock content %}

</html>
