<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>

	{% block content %}
  <div class="container-debate">
        <header>
          <h2>{{label}}</h2>
          <p>{{object_list|length}} debates | {{deb_pub}} publicos | {{deb_pri}} privados </p>
        </header>
        {% ifequal object_list|length 0 %}
          <h3> ¡No hay resultados!</h3>
        {% else %}
					<ul class="cards">
						{% for deb in object_list %}
          		{% include 'grilla.html' with index=True%}
						{% endfor %}
					</ul>
        {%endifequal%}

  </div>
  {% endblock content %}

</html>
