<!DOCTYPE html>
<li class="cards__item">
  <a href="{% url 'showDebate' deb.datos.id_debate %}">
    <div class="card">
      {% ifequal deb.datos.tipo_participacion 1 %}
      <div class="ribbon"><span>Privado</span></div>
      {% else %}
      <div class="ribbon"><span></span></div>
      {% endifequal %}
      <div class="card__content">
        <div class="card__title">
          {{deb.datos.titulo}}
        </div>
        <hr>
        <p class="card__text">
          <script type='text/javascript'>cortarTexto('{{deb.datos.descripcion}}')</script>
        </p>
        {% if index %}
        <!-- <form action="{% url 'showDebate' deb.datos.id_debate %}">
          <button class="btn btn-card">Ver</button>
        </form> -->
        <div class="datosIndex">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> {{deb.visits}}
          <i class="fa fa-group"></i> {{deb.position_num}}
        </div>
        {% else %}
        <div class="dropdown">
          <button class="btn btn-card2 dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Opciones
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <form action="{% url 'showDebate' deb.datos.id_debate %}">
                <button class="btn btn-dropdown-card">Ver</button>
              </form>
            </li>
            {% ifequal deb.datos.estado 'abierto' %}
            <li>
              <form id="id" method="post" action= "{% url 'perfil' id_usr=usuario.id %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
                  <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb">
                  <button type="submit" class="btn btn-dropdown-card">Cerrar</button>
              </form>
            </li>
            {% else %}
            <li>
              <form id="id" method="post" action= "{% url 'perfil' id_usr=usuario.id %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea republicar el debate?');">{% csrf_token %}
                <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_deb_republish">
                <button type="submit" class="btn btn-dropdown-card">Republicar</button>
              </form>
            </li>
            {% endifequal %}
            <li role="separator" class="divider"></li>
            <li>
              <form id="id" method="post" action= "{% url 'perfil' id_usr=usuario.id %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea eliminar el debate?');">{% csrf_token %}
              <input type="hidden" value="{{ deb.datos.id_debate }}" name="id_delete_deb">
              <button type="submit" class="btn btn-dropdown-card">Eliminar</button>
              </form>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </a>
  </li>
