<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="shortcut icon" type="image/png" href="{% static 'img/RDLogo02.png' %}"/>
<link rel="stylesheet" type='text/css' href="{% static 'bootstrap-social-gh-pages/assets/css/bootstrap.css' %}" >
<link rel="stylesheet" type='text/css' href="{% static 'bootstrap-social-gh-pages/assets/css/font-awesome.css' %}" >
<link rel="stylesheet" type='text/css' href="{% static 'bootstrap-social-gh-pages/assets/css/docs.css' %}" >
<link rel="stylesheet" type='text/css' href="{% static 'bootstrap-social-gh-pages/assets/css/bootstrap-social.css' %}" >
 <meta charset="UTF-8" />

<title>Inicia Sesión</title>
</head>
<body style="background: #18BD9B">
	<br>
	<br>
	<div align="center">
		  <IMG SRC="{% static 'img/RDLogo02.png' %}" WIDTH='300' VSPACE='3' HSPACE='3' ALT="RedDebateLogo">
      <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-publicar">Ingresar</button>
      </form>
	</div>
		<br>
		<!-- <div class="col-md-4"></div>
		<div class="col-md-4">
			<br>
				</a>
				<a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}" align="center" >
			  	<span class="fa fa-facebook"></span> <div align="center">Ingresa con Facebook </div>
			  	</a>
          <br><br>
          <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
           <span class="fa fa-twitter"></span> <div align="center">Ingresa con Twitter </div>
         </a>
    </div> -->
</body>

</html>
