<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" type='text/css' href="{% static '/css/login.css' %}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/RDLogo02.png' %}"/>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <meta charset="UTF-8" />
  <title> Iniciar sesión </title>
</head>
<body>
  <div class="materialContainer">
   <div class="box">
      {% block content %}
    	{% endblock content %}
   </div>
   <div class="overbox">
      <div class="material-button alt-2"><IMG SRC="{% static 'img/RDLogo02.png' %}" WIDTH='150' ALT="RedDebateLogo"></div>
    </div>
  </div>
</body>

</html>
