<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" type='text/css' href="{% static '/css/login.css' %}" >
  <link rel="shortcut icon" type="image/png" href="{% static 'img/RDLogo02.png' %}"/>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <meta charset="UTF-8" />

  <title>Inicia Sesión</title>
</head>
<body>
  <div class="materialContainer">
   <div class="box">
      <div class="title">Inicia Sesión</div>
      <div class="error-login">
      {% if form.non_field_errors %}
          <ul>
              {% for error in form.non_field_errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}</div>
      <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="input">
          {{ form.username.errors }}
          <label for="name">Usuario</label>
          {{ form.username }}
        </div>
        <div class="input">
          {{ form.password.errors }}
          <label for="pass">Contraseña</label>
          {{ form.password }}
        </div>
        <div class="button login">
           <button type="submit" ><span>Ingresar</span> <i class="fa fa-check"></i></button>
        </div>
    </form>

      <!-- <a href="" class="pass-forgot">¿Olvidaste contraseña?</a> -->
   </div>

   <div class="overbox">
      <div class="material-button alt-2"><IMG SRC="{% static 'img/RDLogo02.png' %}" WIDTH='150' ALT="RedDebateLogo"></div>
      <div class="title">Regístrate</div>
      <div class="input">
         <label for="regname">Usuario</label>
         <input type="text" name="regname" id="regname">
         <span class="spin"></span>
      </div>
      <div class="input">
         <label for="regpass">Contraseña</label>
         <input type="password" name="regpass" id="regpass">
         <span class="spin"></span>
      </div>
      <div class="input">
         <label for="reregpass">Repite Contraseña</label>
         <input type="password" name="reregpass" id="reregpass">
         <span class="spin"></span>
      </div>
      <div class="button">
         <button><span>Siguiente</span></button>
      </div>
   </div>
   <a href="{% url 'social:begin' 'facebook' %}" class="fa fa-facebook"></a>
   <a href="{% url 'social:begin' 'twitter' %}" class="fa fa-twitter"></a>
   <a href="{% url 'social:begin' 'google-oauth2' %}" class="fa fa-google"></a>
   <a href="{% url 'social:begin' 'github' %}" class="fa fa-github"></a>
</div>

	<!-- <br>
	<br>
	<div align="center">
		  <IMG SRC="{% static 'img/RDLogo02.png' %}" WIDTH='300' VSPACE='3' HSPACE='3' ALT="RedDebateLogo">
      <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-publicar">Ingresar</button>
      </form>
	</div>
		<br> -->
		<!-- <div class="col-md-4"></div>
		<div class="col-md-4">
			<br>
				</a>
				<a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}" align="center" >
			  	<span class="fa fa-facebook"></span> <div align="center">Ingresa con Facebook </div>
			  	</a>
          <br><br>
          <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">
           <span class="fa fa-twitter"></span> <div align="center">Ingresa con Twitter </div>
         </a>
    </div> -->
</body>

</html>
