<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html>


	{% block content %}
	<!--tabla de debates  onclick='javascript:despliega_debate("{{ deb.id_debate }}");'  -->

	<div class="container">
		<div align="right" >
			<button onclick="formulario_nuevo_debate()" type="submit" class="btn btn-index" > Nuevo Debate</button>
			<!-- <button onclick="#" type="submit" class="btn btn-index" > Debates Cerrados</button>
			<button onclick="#" type="submit" class="btn btn-index" > Debates Abiertos</button> -->
		</div>
	</div>			
	<section class="success" id="nuevodebate" style="display:none">
        <div class="container">
        	<div class="blank"><table>
				<tr> 
					<td width=70% vertical-align: top>
						<!-- <h4><strong>Publicar Debate</strong></h4> -->
						<br>
						<div class="form-group">
							<h4>Título</h4>
							<input name="titulo" value="" type="text" class="form-control" placeholder="Título">
						  	<br>
						    <h4>Descripción</h4>
						    <textarea name="descripcion" value="" rows="8" type="text" class="form-control" placeholder="Descripción"></textarea>
						</div>
						<button type="submit" class="btn btn-publicar">Publicar</button>
					</td>
					<td width=10% ></td>
					<td>
						<!-- <h4><strong>Reglas del Debate</strong></h4> -->
						<br>
					 	<div class="input-group">
					 		<h5>Fecha Fin</h5>
					 		<h5><div> <span class="glyphicon glyphicon-calendar"></span> <input class="datepicker" type="text" name="date"> </div></h5>
					 		<br>
							<h5>Largo máximo de los argumentos</h5>
								<div class="funkyradio">
									<div class="funkyradio-success">
							            <input type="radio" name="largo_m" id="radio1" value="300" checked/>
							            <label for="radio1">300 carácteres</label>
							        </div>
							        <div class="funkyradio-success">
							            <input type="radio" name="largo_m" id="radio2" value="200" />
							            <label for="radio2">200 carácteres</label>
							        </div>
							        <div class="funkyradio-success">
							            <input type="radio" name="largo_m" id="radio3" value="140" />
							            <label for="radio3">140 carácteres</label>
							        </div>
								</div>
							<br>	
							<h5>Publicar el debate como</h5>
								<div class="funkyradio">
									<div class="funkyradio-success">
							            <input type="radio" name="alias" id="radio4" value="username" checked/>
							            <label for="radio4">Usuario: {{usuario.username}}</label>
							        </div>
									<div class="funkyradio-success">
							            <input type="radio" name="alias" id="radio5" value="alias" />
							            <label for="radio5">Alias: {{alias}}</label>
							        </div>
								</div>
							<br>
							
						</div>
					</td>
				</tr>
			</div></table>
          
        </div>
    </section>
    <div class="container">
		<div id="deb_abiertos" class="container">
			<h2> Debates Abiertos </h2>
			<div class="datagrid"><table>
				<tr>
					<thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
				</tr>
				<tbody>
			{% for deb in object_list %}
			{% ifequal deb.estado 'abierto' %}
				
				<tr> 
					
					<td width=300 > {{ deb.titulo }}</td>
					<td width=600> <p> {{ deb.descripcion }}</p></td>


					{% ifequal usuario.id deb.id_usuario_id %}

					 <form id="id" method="post" action= "{% url 'index' %}" enctype="multipart/form-data" onsubmit="return confirm('¿Seguro que desea cerrar el debate?');">{% csrf_token %}
	            	 <input type="hidden" value="{{ deb.id_debate }}" name="id_deb">
	            	
	            	<td > <button type="submit" class="btn btn-outline" > <span class="glyphicon glyphicon-remove-circle"></span> Cerrar</button> </td> 

	    		</form>
	    			{%else%}
	    				<td> </td>
	    			{%endifequal%}
					
					<td> <a class="btn btn-tabla" href="{% url 'despliega' deb.id_debate %}" > <span class="glyphicon glyphicon-eye-open"></span> Ver </a></td>
				</tr>
			{%endifequal%}
			{% endfor %}
			</tbody>
			</table></div>
		</div>

		<div id="deb_cerrados" class="container">
			<h2> Debates Cerrados</h2>
			<div class="datagrid"><table>
				<tr>
					<thead><tr><th>Título</th><th>Descripción</th><th> </th><th> </th></tr></thead>
				</tr>
				<tbody>
			{% for deb in object_list %}
			{% ifequal deb.estado 'cerrado'%}
				<tr> 
					<td width=300 ><p> {{ deb.titulo }} </p></td>
					<td width=600> <p> {{ deb.descripcion }} </p></td> 

					<td > </td>

					<td align="right"> <a  class="btn btn-tabla" href="{% url 'despliega' deb.id_debate %}" ><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver </a></td>
				</tr>
			{%endifequal%}	
			{% endfor %}
			</tbody>
			</table></div>
		</div>
	</div>
	{% endblock content %}
</html>




 