<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="container">  

  	<form method="POST" class="post-form">{% csrf_token %}
		<form action="/post_new" id="publicar_form" method="post">{% csrf_token %}
		 <div class="row">
  			<div class="col-md-6">

<h3>Publicar Debate</h3>
			  <div class="form-group">

			    <input name="titulo" value="" type="text" class="form-control" placeholder="Titulo">
			    <br><br>
			    <input name="descripcion" value="" type="text" class="form-big" placeholder="Descripcion">
			  </div>
			 </div>


			  <div class="col-md-6">
			  <h3>Reglas del Debate</h3>
			  	<div class="input-group">

				
				Largo máximo de los argumentos:<br>
				<div class="radio">
				 <label><input type="radio" name="largo_m" value="300" checked> 300</label>
				 <br>
				  <label><input type="radio" name="largo_m" value="200"> 200</label><br>
				  <label><input type="radio" name="largo_m" value="140"> 140</label><br>
				  <br>
				  Nombre del creador del debate:
				  <label><input type="radio" name="alias" value="username" checked>  Publicar el debate con mi usuario: {{nombre}}</label><br>
				  <label><input type="radio" name="alias" value="alias"> Publicar el debate con mi Alias: {{alias}}</label><br>
				  <div>
					fecha finalización: <input class="datepicker" type="text" name="date">
				</div>

			  </div>
			</div>
		  <button type="submit" class="btn btn-default">Publicar</button>
		</form>
	</form>

</div>
{% endblock%}